{% extends "base.html" %}
{% block content %}
<main class="k-main">
    <section class="k-grid k-grid--1x3 k-grid--1x3-titled k-grid--1x3-titled-3">
        <h3 class="k-grid--1x3-titled-full">Build plate calibration</h3>
        <a id="25_points_calibration" href="#" class="k-grid-item">
            <img class="k-grid-item__img" src="static/images/icon_calibracion-cama.svg" />
            <p class="k-grid-item__p">{{_("calibration_make")}}</p>
        </a>
        <a href="#" id="reset_grid" class="k-grid-item">
            <img class="k-grid-item__img" src="static/images/icon_calibracion-reset.svg" />
            <p class="k-grid-item__p">{{_("calibration_reset")}}</p>
        </a>
        <a href="#" id="inspect_grid_points" class="k-grid-item">
            <img class="k-grid-item__img" src="static/images/icon_calibracion-inspeccionar.svg" />
            <p class="k-grid-item__p">{{_("calibration_inspect")}}</p>
        </a>
    </section>
    <div class="k-help-btn">
        <img src="static/images/icon_ayuda.svg" />
    </div>
</main>

<footer class="k-footer">
    <a href="/back-calibration-selection" class="k-footer-left">
        <button class="k-footer__btn k-footer__btn--red "> <img src="static/images/icon_flecha-back.svg" /> </button>
    </a>
    <a href="/save-25-calibration" class="k-footer-right">
        <button class="k-footer__btn k-footer__btn--yellow k-footer__btn--wide">{{_("calibration_save")}} </button>
    </a>
</footer>

<!-- New modals -->
<section id="calibration_wait" class="k-modal-overlay">
    <div class="k-modal">
        <button id="calibration_wait_close" class="k-modal__close">
            <img src="static/images/icon_cancelar.svg" />
        </button>
        <div class="k-modal-container">
            <div class="k-modal-2">
                <p class="k-modal__p k-modal__p--big k-modal__p--center k-modal_p--maxwidth">{{_("calibration_wait")}}
                </p>
            </div>
        </div>
    </div>
</section>

<section id="grid_modal" class="k-modal-overlay">
    <div class="k-modal">
        <button id="grid_modal_close" class="k-modal__close">
            <img src="static/images/icon_cancelar.svg" />
        </button>
        <div class="k-modal-container">
            <div class="k-modal-2">
                <table id="grid_inspect" class="k-table">
                </table>
            </div>
        </div>
    </div>
</section>

<!-- End New modals -->
</body>
<script src="/static/js/calibration.js"></script>
{% end %}