{% extends "base.html" %}
{% block content %}
<main class="k-main">
    <section class="k-grid k-grid--2x3">
        <a href="/manual-controls" class="k-grid-item">
            <img class="k-grid-item__img" src="/static/images/icon_control-manual.svg"/> 
            <p class="k-grid-item__p">{{_("extras_controls")}}</p>
        </a>
        <a href="/nozzles" class="k-grid-item">
            <img class="k-grid-item__img" src="/static/images/icon_tamano-nozzle.svg"/> 
            <p class="k-grid-item__p">{{_("config_nozzle_size")}}</p>
        </a>
        <a href="#" id="motors_switch" class="k-grid-item">
            <img id="motors" class="k-grid-item__img" src="/static/images/icon_apagar-motores.svg"/> 
            <p class="k-grid-item__p ">{{_("config_motors")}}</p>
        </a>
        <a href="/info" class="k-grid-item">
            <img class="k-grid-item__img" src="/static/images/icon_info.svg"/> 
            <p class="k-grid-item__p">{{_("extras_info")}}</p>
        </a>
        <a href="/software-update" class="k-grid-item">
            <img class="k-grid-item__img" src="/static/images/icon_actualizar.svg"/> 
            <p class="k-grid-item__p">{{_("extras_update")}}</p>
        </a>
        <a href="/dev-mode" class="k-grid-item">
            <img class="k-grid-item__img" src="/static/images/icon_devtool_2.svg"/> 
            <p class="k-grid-item__p">{{_("dev_tools")}}</p>
        </a>
    </section>
</main>

<footer class="k-footer">
    <a href="/setup" class="k-footer-left">
        <button class="k-footer__btn k-footer__btn--red "> <img src="/static/images/icon_flecha-back.svg" />
        </button>
    </a>
</footer>
</body>
<script src="/static/js/motors.js"></script>
{% end %}