{% extends "base.html" %}
{% block content %}
<main>
    <h1>Advanced</h1>
    <ul class="first_attemp">
        <li>
            <a href="/manual-controls">
                <img src="static/images/icons/manual-controls-sub-menu.svg" alt="">
                <h3>Manual Controls</h3>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="static/images/icons/tools-sub-icon.svg" alt="">
                <h3>Nozzles Size</h3>
            </a>
        </li>        
    </ul>
    </main>
    <footer>
        <a id="back" class="button" href="/setup"></a>
        <div class="slogan"></div>
    </footer>
</body>
{% end %}