{% extends "base.html" %}
{% block content %}
<main class="k-main">
    <section class="k-grid k-grid--2x3asim">
        <a href="/manual-controls" class="k-grid-item">
            <img class="k-grid-item__img" src="/static/images/icon_control-manual.svg"/> <p class="k-grid-item__p">Manual
            controls</p>
        </a>
        <a href="#" class="k-grid-item">
            <img class="k-grid-item__img" src="/static/images/icon_tamano-nozzle.svg"/> <p class="k-grid-item__p">Nozzle
            size</p>
        </a>
        <a href="#" class="k-grid-item">
            <img class="k-grid-item__img" src="/static/images/icon_apagar-motores.svg"/> <p class="k-grid-item__p ">Turn
            off motors</p>
        </a>
        <a href="#" class="k-grid-item">
            <img class="k-grid-item__img" src="/static/images/icon_info.svg"/> <p class="k-grid-item__p">Info</p>
        </a>
        <a href="/software-update" class="k-grid-item">
            <img class="k-grid-item__img" src="/static/images/icon_actualizar.svg"/> <p class="k-grid-item__p">Update
            </p>
        </a>
    </section>
</main>

<footer class="k-footer">
    <a href="/setup" class="k-footer-left">
        <button class="k-footer__btn k-footer__btn--red "> <img src="/static/images/icon_flecha-back.svg" />
        </button>
    </a>
</footer>
</body>
{% end %}