<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Kodak</title>
<script src="/static/js/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/styles.css">

<link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">

<script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
   <!-- Start Header -->
   <div class="row header">
      <div class="col-xs-1 col-sm-1 logo-container">
            <img src="/static/images/logo.png" alt="">
      </div>
      <div class="col-xs-3 col-sm-3"></div>
      <div class="col-xs-1 col-sm-1">
            <img src="/static/images/arrows-icon.svg" alt="" style="height: 49px;">
            <img src="/static/images/extruder-2-icon.svg" alt="" style="height: 49px;">
            <div id="t0" style="float: right; color: #FFB700; font-size: 20px; margin-top: 10px; padding-right: 20px"> </div>
      </div>
      <div class="col-xs-1 col-sm-1">
            <img src="/static/images/arrows-icon.svg" alt="" style="height: 49px;">
            <img src="/static/images/extruder-1-icon.svg" alt="" style="height: 49px;">
            <div id="t1" style="float: right; color: #FFB700; font-size: 20px;"> </div>
      </div>
      <div class="col-xs-1 col-sm-1">
            <img src="/static/images/arrows-icon.svg" alt="" style="height: 49px;">
            <img src="/static/images/heatbed-icon.svg" alt="" style="height: 49px;">
            <div id="bed" style="float: right; color: #FFB700; font-size: 20px;"> </div>
      </div>
      <div class="col-xs-1 col-sm-1">
            <img src="/static/images/arrows-icon.svg" alt="" style="height: 49px;">
            <img src="/static/images/chamber-icon.svg" alt="" style="height: 49px;">
            <div id="amb" style="float: right; color: #FFB700; font-size: 20px;"> </div>
      </div>
      <div class="col-xs-2 col-sm-2"></div>
   </div>
   <!-- End Header -->
{% block content %} {% end %}
</div>
</body>
<script>
function set_temperatures(data) {
   var temps = data.split("@")
   var t0 = temps[0].substring(temps[0].indexOf(":") + 1, temps[0].indexOf("/")).trim()
   var t1 = temps[1].substring(temps[1].indexOf(":") + 1, temps[1].indexOf("/")).trim()
   var bed = temps[2].substring(temps[2].indexOf(":") + 1, temps[2].indexOf("/")).trim()
   var amb = temps[3].substring(temps[3].indexOf(":") + 1, temps[3].indexOf("/")).trim()
   $("#t0").text(t0)
   $("#t1").text(t1)
   $("#bed").text(bed)
   $("#amb").text(amb)
}
var ws_temps = new WebSocket("ws://192.168.0.24:8888/temperatures");
ws_temps.onmessage = function (evt) {
   set_temperatures(evt.data);
};

var ws_bed = new WebSocket("ws://192.168.0.24:8888/heating-bed");
var ws_nozzle = new WebSocket("ws://192.168.0.24:8888/heating-nozzle");

ws_bed.onmessage = function(evt) {
   var bed = evt.data
   var temp = bed.substring(bed.lastIndexOf(":") + 1, bed.lastIndexOf("/")).trim();
   $("#printing_action").text("Heating bed: " + temp)
};

ws_nozzle.onmessage = function(evt) {
   var nozzle = evt.data
   var temp = nozzle.substring(nozzle.lastIndexOf(":") + 1, nozzle.lastIndexOf("/")).trim();
   $("#printing_action").text("Heating nozzle: " + temp)
};

var doStuff = function () {
   $.ajax({url: "/get-temperatures", success: function(result){
      console.info(result)
   }});
   setTimeout(doStuff, 5000);
};
doStuff();

$('#file_list li').click(function () {
      $.post("/print", {file_path: $(this).data('path'), filename: $(this).data('filename')} )
      .done(function(data) {
         window.location.href = "/confirm-print";
      });
});

$("#print").click(function () {
   window.location.href = "/print";
});

</script>
</html> 