<!DOCTYPE html>
<html>

<head>
    <meta name="google" content="notranslate">
    <link rel="stylesheet" href="/static/css/kodak.css">
    <link rel="stylesheet" href="/static/css/kodak-nuevo.css">
    <link rel="stylesheet" href="/static/css/keyboardui.css">
    <!--<link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">-->
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <!-- keyboard widget css & script -->
    <link href="/static/Keyboard-master/css/keyboard.css" rel="stylesheet">
    <script src="/static/Keyboard-master/js/jquery.keyboard.js"></script>
    <!-- css for the preview keyset extension -->
    <link href="/static/Keyboard-master/css/keyboard-previewkeyset.css" rel="stylesheet">
    <script src="/static/Keyboard-master/js/jquery.keyboard.extension-extender.js"></script>
</head>

<body>
    <header class="k-header">
        <div class="k-header-container">
            <!--<a href="/home?wizzard=0" class="k-header-left">
                <img src="/static/images/logo-52.svg" height="70px">
            </a>-->
            <a class="k-header-left">
                <img src="/static/images/logo-52.svg" height="70px">
            </a>
            <ul class="k-header-center">
                <li><img src="/static/images/icon_ext2-apagado-01.svg">
                    <div id="t1"></div>
                </li>
                <li><img src="/static/images/icon_ext1-apagado-01.svg">
                    <div id="t0"></div>
                </li>
                <li><img src="/static/images/icon_cama-apagado-01.svg">
                    <div id="plate"></div>
                </li>
                <li><img src="/static/images/icon_camara.svg">
                    <div id="amb"></div>
                </li>
            </ul>
            <ul class="k-header-right">
                <li><img id="wifi_icon" src="/static/images/icon_wifi-desconectado.svg"></li>
                <li><img id="cloud_icon" src="/static/images/icon_nube-desconectada.svg"></li>
            </ul>
        </div>
    </header>

    {% block content %} {% end %}
    <!-- New modals -->
    <section id="waitModal" class="k-modal-overlay">
        <div class="k-modal">
            <div class="k-modal-container">
                <div class="k-modal-2">
                    <img class="k-spinner-container__spinner" src="/static/images/icon_loader.svg" />
                    <h2 class="k-modal__title k-modal__title--big">{{_("print_load_file_popup_title").format(",")}}</h2>
                    <p class="k-modal__p k-modal__p--big k-modal__p--center k-modal_p--maxwidth">
                        {{_("print_load_file_popup_body")}}</p>
                </div>
            </div>
        </div>
    </section>

    <section id="error_modal" class="k-modal-overlay">
        <div class="k-modal">
            <div class="k-modal-container">
                <div class="k-modal-2">
                    <img class="k-modal-2__img" src="/static/images/icon_alerta.svg" />
                    <p class="k-modal__p k-modal__p--big">{{_("errors_modal_title")}}</p>
                    <p id="error_code" class="k-modal__warning"></p>
                    <p class="k-modal__p k-modal__p--big k-modal__p--center k-modal_p--maxwidth">{{_("error").format(",")}}</p>
                </div>
            </div>
        </div>
    </section>

    <script src="/static/js/icons.js"></script>
    <script src="/static/js/temperatures.js"></script>
    <script src="/static/js/cloud_commands.js"></script>
    <script src="/static/js/error_handler.js"></script>

</html>