<html>
    <head>
        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="stylesheet" href="/static/css/header.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/footer.css">
        <script src="/static/js/jquery-3.2.1.min.js"></script>
        <script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header>
            <div id="logo"></div>
            <div id="temps">
                <div id="hotend2" class="icon"><img src="/static/images/icons/extruder-2-icon.svg"><div id="t1"></div></div>
                <div id="hotend1" class="icon"><img src="/static/images/icons/extruder-1-icon.svg"><div id="t0"></div></div>
                <div id="bed" class="icon"><img src="/static/images/icons/heatbed-icon.svg"><div id="plate"></div></div>
                <div id="chamber" class="icon"><img src="/static/images/icons/chamber-icon.svg"><div id="amb"></div></div>
            </div>
            <div id="network">
                <div id="wifi"><img src="/static/images/icons/wifi-header-.svg"></div>
                <div id="cloud"><img src="/static/images/icons/cloud-icon.svg"></div>
            </div>
        </header>
    
    {% block content %} {% end %}
    <script>
        function set_temperatures(data) {
           var temps = data.split("@")
           var t0 = temps[0].substring(temps[0].indexOf(":") + 1, temps[0].indexOf("/")).trim()
           var t1 = temps[1].substring(temps[1].indexOf(":") + 1, temps[1].indexOf("/")).trim()
           var bed = temps[2].substring(temps[2].indexOf(":") + 1, temps[2].indexOf("/")).trim()
           var amb = temps[3].substring(temps[3].indexOf(":") + 1, temps[3].indexOf("/")).trim()
           $("#t0").text(t0)
           $("#t1").text(t1)
           $("#plate").text(bed)
           $("#amb").text(amb)
        }
        var ws_temps = new WebSocket("ws://192.168.0.24:8888/temperatures");
        ws_temps.onmessage = function (evt) {
           set_temperatures(evt.data);
        };
        
        var ws_bed = new WebSocket("ws://192.168.0.24:8888/heating-bed");
        var ws_nozzle = new WebSocket("ws://192.168.0.24:8888/heating-nozzle");
        
        ws_bed.onmessage = function(evt) {
           var bed = evt.data
           var temp = bed.substring(bed.lastIndexOf(":") + 1, bed.lastIndexOf("/")).trim();
           $("#printing_action").text("Heating bed: " + temp)
        };
        
        ws_nozzle.onmessage = function(evt) {
           var nozzle = evt.data
           var temp = nozzle.substring(nozzle.lastIndexOf(":") + 1, nozzle.lastIndexOf("/")).trim();
           $("#printing_action").text("Heating nozzle: " + temp)
        };
        
        var doStuff = function () {
           $.ajax({url: "/get-temperatures", success: function(result){
              console.info(result)
           }});
           setTimeout(doStuff, 5000);
        };
        doStuff();
        
        $('#file_list li').click(function () {
              $.post("/print", {file_path: $(this).data('path'), filename: $(this).data('filename')} )
              .done(function(data) {
                 window.location.href = "/confirm-print";
              });
        });
        
        $("#print").click(function () {
           window.location.href = "/print";
        });
        
</script>
</html> 