{% extends "base.html" %}
{% block content %}
{% if connected %}
<main class="k-main">
  <h2 class="k-main__h2">{{_("cloud_title")}}</h2>
  <section class="k-dialog">
    <p>{{_("queue_empty").format(",")}}</p>
    <a href="/cloud-unregister"
      class="k-dialog__button k-dialog__button--shortened k-dialog__button--red">{{_("cloud_unregister")}}</a>
    {% if cloud_pref == "connected" %}
    <a href="/cloud-disconnect" class="k-dialog__button k-dialog__button--shortened">{{_("cloud_disconnect")}}</a>
    {% end %}
    {% if cloud_pref == "disconnected" %}
    <a href="/cloud-reconnect" class="k-dialog__button k-dialog__button--shortened">{{_("cloud_connect")}}</a>
    {% end %}
  </section>
</main>
{% else %}
<main class="k-main">
  <h2 class="k-main__h2">{{_("cloud_title")}}</h2>
  <section class="k-dialog">
    <p>{{_("cloud_intro").format(",")}}</p>
    <h2 id="registration_code_btn" class="k-main__h2"></h2>
    <p>{{_("cloud_intro2")}}</p>
    <div id="waiting_info">{{_("waiting_info")}}</div>
    <div id="registration_code" class="initiallyHidden">
    </div>
  </section>
</main>
{% end %}

{%if not wizzard_viewed %}
<footer class="k-footer">
  <a href="/next-wizzard" class="k-footer-left">
    <button class="k-footer__btn k-footer__btn--yellow k-footer__btn--wide">{{_("onboarding_skip")}} </button>
  </a>
</footer>
{% else %}
<footer class="k-footer">
  <a href="/connectivity" class="k-footer-left">
    <button class="k-footer__btn k-footer__btn--red "> <img src="/static/images/icon_flecha-back.svg" />
    </button>
  </a>
</footer>
{% end %}
</body>
<script src="/static/js/cloud_registration.js"></script>
{% end %}