<html>
    <head>
            <link rel="stylesheet" href="../assets/styles.css">
            <link rel="stylesheet" href="../assets/header.css">
            <link rel="stylesheet" href="../assets/main.css">
            <link rel="stylesheet" href="../assets/footer.css">
            <link rel="stylesheet" href="../assets/modal.css">
    </head>
    <body>
    
        <header>
                <a id="logo" href="#"></a>
                    <div id="temps">
                        <div id="hotend2" class="icon"><img src="../assets/icons/extruder-2-icon.svg">215°C</div>
                        <div id="hotend1" class="icon"><img src="../assets/icons/extruder-1-icon.svg">29°C</div>
                        <div id="bed" class="icon"><img src="../assets/icons/heatbed-icon.svg">50°C</div>
                        <div id="chamber" class="icon"><img src="../assets/icons/chamber-icon.svg">47°C</div>
                    </div>
                <div id="network">
                    <a id="wifi" href="#"><img src="../assets/icons/wifi-header-{{wifiSignal > 0 ? wifiSignal + 1 : 0}}.svg"></a>
                    <a id="cloud" href="#"><img src="../assets/icons/cloud-icon{{$root.printerData.cloudStatus ? '' : '-off'}}.svg"></a>
                </div>
        </header>

        <main>
            <h1>Settings</h1>
            <ul>
                <li>
                    <a href="connectivity.html">
                        <img src="../assets/icons/connectivity-icon.png" alt="">
                        <h3>Connectivity</h3>
                    </a>
                </li>
                <li>
                    <a href="filamentsMenu.html">
                        <img src="../assets/icons/filament-sub-icon.svg" alt="">
                        <h3>Filaments</h3>
                    </a>
                </li>
                <li>
                    <a href="calibration.html">
                        <img src="../assets/icons/calibration-sub-icon.svg" alt="">
                        <h3>Calibration</h3>
                    </a>
                </li>
                <li>
                    <a href="settingsGeneral.html">
                        <img src="../assets/icons/extras-sub-icon.svg" alt="">
                        <h3>General</h3>
                    </a>
                </li>
                <li>               
                    <a href="settingsAdvanced.html">
                        <img src="../assets/icons/calibration-sub-icon.svg" alt="">
                        <h3>Advanced</h3>
                    </a>
                </li>
            </ul>
        </main>

        <footer>
            <a id="back" class="button" href="javascript:history.back()"></a>
            <div class="slogan"></div>

        </footer>
    
    </body>
</html>

