{% extends "base.html" %}
{% block content %}
<main>
    <h1>Extruders</h1>
    <ul class="first_attemp">
        <li>
            <a href="/ext_2">
                <img src="/static/images/icons/heat-filament-2-icon.svg" alt="">
            </a>
        </li>
        <li>
            <a id="t1_extrude" href="#">
                <img src="/static/images/icons/filament-up-icon.svg" alt="">
            </a>
        </li>
        <li>
            <a id="t1_retract" href="#">
                <img src="/static/images/icons/filament-down-icon.svg" alt="">
            </a>
        </li>
        <li>
            <a href="/ext_1">
                <img src="/static/images/icons/heat-filament-1-icon.svg" alt="">
            </a>
        </li>
        <li>
            <a id="t0_extrude" href="#">
                <img src="/static/images/icons/filament-up-icon.svg" alt="">
            </a>
        </li>
        <li>
            <a id="t0_retract" href="#">
                <img src="/static/images/icons/filament-down-icon.svg" alt="">
            </a>
        </li>
    </ul>
</main>

<footer>
    <a id="back" class="button" href="/back-extruder"></a>
    <div class="slogan"></div>
</footer>
</body>
<script>
    var in_extruder_control = true;
</script>
{% end %}