{% extends "base.html" %}
{% block content %}
<main>
    <h1>Extruders</h1>
    <ul>
        <li>
            <a href="manualControlsExtrudersTemp.html">
                <img src="static/images/icons/heat-filament-2-icon.svg" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="static/images/icons/filament-up-icon.svg" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="static/images/icons/filament-down-icon.svg" alt="">
            </a>
        </li>
        <li>
            <a href="manualControlsExtrudersTemp.html">
                <img src="static/images/icons/heat-filament-1-icon.svg" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="static/images/icons/filament-up-icon.svg" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="static/images/icons/filament-down-icon.svg" alt="">
            </a>
        </li>
    </ul>
</main>

<footer>
    <a id="back" class="button" href="javascript:history.back()"></a>
    <div class="slogan"></div>
</footer>
</body>
{% end %}