{% extends "base.html" %}
{% block content %}
<main class="k-main">
    <section class="k-grid k-grid--3x3">
        {% for key, value in mat_temps.items() %}
            {% if extruder == 'ext_1' and value['okAllMetal'] == 'T' %}
            <a href="/{{extruder}}/{{value['printTemp']}}" class="k-grid-item">
                <p class="k-grid-item__p k-grid-item__p--big">{{value['name']}}</p>
            </a>
            {% elif extruder == 'ext_2' and value['okPTFE'] == 'T' %}
            <a href="/{{extruder}}/{{value['printTemp']}}" class="k-grid-item">
                <p class="k-grid-item__p k-grid-item__p--big">{{value['name']}}</p>
            </a>
            {% elif value['name'] == "OFF" %}
            <a href="/{{extruder}}/{{value['printTemp']}}" class="k-grid-item k-grid-item--red">
                <p class="k-grid-item__p k-grid-item__p--big">{{value['name']}}</p>
            </a>
            {% else %}
            <a href="#" class="k-grid-item k-grid-item--grey">
                <p class="k-grid-item__p k-grid-item__p--big">{{value['name']}}</p>
            </a>
            {% end %}
        {% end %}
    </section>
</main>
<footer class="k-footer">
    <a href="/extruders-controls" class="k-footer-left">
        <button class="k-footer__btn k-footer__btn--red "> <img src="/static/images/icon_flecha-back.svg" />
        </button>
    </a>
</footer>
</body>
{% end %}