{% extends "base.html" %}
{% block content %}
<main class="k-main">
    <section class="k-grid k-grid--1x2">
        <a href="/ext_2/{{action}}" class="k-grid-item">
            <img class="k-grid-item__img" src="static/images/icon_nozzle2.svg" />
            <p class="k-grid-item__p .k-grid-item__p--big">{{_("extruder")}} 2</p>
        </a>
        <a href="/ext_1/{{action}}" class="k-grid-item">
            <img class="k-grid-item__img" src="static/images/icon_nozzle1.svg" />
            <p class="k-grid-item__p .k-grid-item__p--big">{{_("extruder")}} 1</p>
        </a>
    </section>
</main>

<footer class="k-footer">
    <a href="/filaments-selection" class="k-footer-left">
        <button class="k-footer__btn k-footer__btn--red "> <img src="/static/images/icon_flecha-back.svg" />
        </button>
    </a>
</footer>
</body>
{% end %}