{% extends "base.html" %}
{% block content %}
<main class="k-main">
    <section class="k-grid k-grid--3x3">
        {% for key, value in mat_temps.items() %}
            {% if value['name'] != "OFF" and extruder == 'ext_1' and value['okAllMetal'] == 'T' %}
            <a href="/{{ext_type}}/{{ext_action}}?material={{key}}" class="k-grid-item">
                <p class="k-grid-item__p k-grid-item__p--big">{{value['name']}}</p>
            </a>
            {% elif value['name'] != "OFF" and extruder == 'ext_2' and value['okPTFE'] == 'T' %}
            <a href="/{{ext_type}}/{{ext_action}}?material={{key}}" class="k-grid-item">
                <p class="k-grid-item__p k-grid-item__p--big">{{value['name']}}</p>
            </a>
            {% elif value['name'] != "OFF" %}
                <a href="#" class="k-grid-item k-grid-item--grey">
                    <p class="k-grid-item__p k-grid-item__p--big">{{value['name']}}</p>
                </a>
            {% end %}
        {% end %}
    </section>
</main>

<footer class="k-footer">
    <a href="/{{ext_action}}" class="k-footer-left">
        <button class="k-footer__btn k-footer__btn--red "> <img src="/static/images/icon_flecha-back.svg" />
        </button>
    </a>
</footer>

</body>
{% end %}