{% extends "base.html" %}
{% block content %}
<main class="k-main">
    <section class="k-grid k-grid--1x2">
        <a href="/load" class="k-grid-item">
            <img class="k-grid-item__img" src="/static/images/icon_filamento-carga.svg" />
            <p class="k-grid-item__p .k-grid-item__p--big">{{_("filaments_menu_load")}}</p>
        </a>
        <a href="/unload" class="k-grid-item">
            <img class="k-grid-item__img" src="/static/images/icon_filamento-descarga.svg" />
            <p class="k-grid-item__p .k-grid-item__p--big">{{_("filaments_menu_unload")}}</p>
        </a>
    </section>
    <!--<div id="help_calibration" class="k-help-btn">
        <img src="/static/images/icon_ayuda.svg" />
    </div>-->
</main>
{%if not wizzard_viewed %}
<footer class="k-footer">
    <a href="/next-wizzard" class="k-footer-left">
        <button class="k-footer__btn k-footer__btn--yellow k-footer__btn--wide">{{_("onboarding_skip")}} </button>
    </a>
</footer>
{% else %}
<footer class="k-footer">
    <a href="/setup" class="k-footer-left">
        <button class="k-footer__btn k-footer__btn--red "> <img src="/static/images/icon_flecha-back.svg" />
        </button>
    </a>
</footer>
{% end %}
</body>
{% end %}