{% extends "base.html" %}
{% block content %}
<main>
    <h1>Load Filaments</h1>
    <ul>
        <li>
            <a href="/ext_2/{{action}}">
                <img src="static/images/icons/extruder-2-offset-icon-big.svg" alt="">
                <h3>Extruder II</h3>
            </a>
        </li>
        <li>
            <a href="/ext_1/{{action}}">
                <img src="static/images/icons/extruder-1-offset-icon-big.svg" alt="">
                <h3>Extruder I</h3>
            </a>
        </li>
    </ul>
</main>

<footer>
    <a id="back" class="button" href="/filaments-selection"></a>
    <div class="slogan"></div>
</footer>

</body>
{% end %}