{% extends "base.html" %}
{% block content %}
<main class="k-main">
    <section class="k-grid k-grid--3x3">
        <a href="/{{ext_type}}/{{ext_action}}/1" class="k-grid-item">
            <p class="k-grid-item__p k-grid-item__p--big">ABS</p>
        </a>
        <a href="/{{ext_type}}/{{ext_action}}/1" class="k-grid-item">
            <p class="k-grid-item__p k-grid-item__p--big">FLEX</p>
        </a>
        <a href="/{{ext_type}}/{{ext_action}}/1" class="k-grid-item">
            <p class="k-grid-item__p k-grid-item__p--big">HIPS</p>
        </a>
        <a href="/{{ext_type}}/{{ext_action}}/1" class="k-grid-item">
            <p class="k-grid-item__p k-grid-item__p--big">Nylon 6</p>
        </a>
        <a href="/{{ext_type}}/{{ext_action}}/1" class="k-grid-item">
            <p class="k-grid-item__p k-grid-item__p--big">Nylon 12</p>
        </a>
        <a href="/{{ext_type}}/{{ext_action}}/1" class="k-grid-item">
            <p class="k-grid-item__p k-grid-item__p--big">PETG</p>
        </a>
        <a href="/{{ext_type}}/{{ext_action}}/1" class="k-grid-item">
            <p class="k-grid-item__p k-grid-item__p--big">PLA Tough</p>
        </a>
        <a href="/{{ext_type}}/{{ext_action}}/1" class="k-grid-item">
            <p class="k-grid-item__p k-grid-item__p--big">PLA+</p>
        </a>
        <a href="/{{ext_type}}/{{ext_action}}/1" class="k-grid-item">
            <p class="k-grid-item__p k-grid-item__p--big">PVA</p>
        </a>
    </section>
</main>

<footer class="k-footer">
    <a href="//{{ext_action}}" class="k-footer-left">
        <button class="k-footer__btn k-footer__btn--red "> <img src="/static/images/icon_flecha-back.svg" />
        </button>
    </a>
</footer>

</body>
{% end %}