{% extends "base.html" %}
{% block content %}
<main class="k-main">
    <div class="k-modal-2">
        <p class="k-modal__p k-modal__p--big">{{_(action)}}</p>
        <p class="k-modal__warning k-modal__warning--grey">{{material}}</p>
        <p class="k-modal__p k-modal__p--big k-modal__p--center k-modal_p--maxwidth">
            {{_("filament_auto_load_message").format(",", ",")}}</p>
        <progress id="progress_bar" class="k-printing-main__progress" max="100" value="0"></progress>
        {% if action == "filament_auto_load" %}
        <p id="filament_action" class="k-modal__warning k-modal__warning--grey">Extrude more</p>
        {% end %}
    </div>
</main>

<footer class="k-footer">
    <a id="cancel_load_unload_filament" class="k-footer-left">
        <button id="btn_filament_cancel" class="k-footer__btn k-footer__btn--red"> <img
                src="/static/images/icon_flecha-back.svg" />
        </button>
    </a>
</footer>
<!-- New modals -->
<section id="cancel_modal" class="k-modal-overlay">
    <div class="k-modal">
        <div class="k-modal-4">
            <div class="k-modal-4__top">
                <p class="k-modal__p k-modal__p--big k-modal__p--center">{{_("confirm_filament").format(",")}}</p>
            </div>
            <div class="k-modal-4__bottom">
                <button id="cancel_modal_no"
                    class="k-modal-4__button k-modal-4__button--yellow">{{_("confirm_no")}}</button>
                <a id="cancel_modal_yes" class="k-modal-4__button k-modal-4__button--red">{{_("confirm_yes")}}</a>
            </div>
        </div>
    </div>
</section>
<section id="extrude_more_modal" class="k-modal-overlay">
    <div class="k-modal">
        <div class="k-modal-container">
            <div class="k-modal-2">
                <img class="k-spinner-container__spinner" src="/static/images/icon_loader.svg" />
                <p class="k-modal__p k-modal__p--big k-modal__p--center k-modal_p--maxwidth">
                    {{_("filaments_extruding")}}</p>
            </div>
        </div>
    </div>
</section>
</body>
<script>
    var in_filament = true;
    var temp_reach = false;
    var first_reach = false;
    var can_cancel = true;
    var extruder = "{{ext_type}}";
    var filament_action = "{{action}}";
    var word = "{{_("done")}}";
    var can_extrude = false;
    var fifty_reach = false;
</script>
<script src="/static/js/filament.js"></script>
{% end %}