{% extends "base.html" %}
{% block content %}
<main class="k-main">
    <section class="k-grid k-grid--1x2asim">
        <a class="k-grid-item" href="/local-files-selection">
        <img class="k-grid-item__img" src="/static/images/icon_imprimir.svg" />
        <p class="k-grid-item__p k-grid-item__p--big">{{ _("home_print") }}</p>
        </a>
        <a class="k-grid-item" href="/setup">
        <img class="k-grid-item__img" src="/static/images/icon_configuracion.svg" />
        <p class="k-grid-item__p k-grid-item__p--big">{{ _("home_settings") }}</p>
        </a>
    </section>
</main>

<footer class="k-footer">
</footer>
</body>
{% end %}