{% extends "base.html" %}
{% block content %}

<main class="k-main">
    <h2 class="k-main__h2">{{_("language_title")}}</h2>
    <section class="k-block">
        {%if lang == "eng" %}
        <p data-lang="eng" class="k-block__p k-block__p--selected lang">English</p>
        {% else %}
        <p data-lang="eng" class="k-block__p lang">English</p>
        {% end %}
        {%if lang == "esp" %}
        <p data-lang="esp" class="k-block__p k-block__p--selected lang">Español</p>
        {% else %}
        <p data-lang="esp" class="k-block__p lang">Español</p>
        {% end %}
        {%if lang == "fra" %}
        <p data-lang="fra" class="k-block__p k-block__p--selected lang">Française</p>
        {% else %}
        <p data-lang="fra" class="k-block__p lang">Française</p>
        {% end %}
        {%if lang == "ita" %}
        <p data-lang="ita" class="k-block__p k-block__p--selected lang">Italiano</p>
        {% else %}
        <p data-lang="ita" class="k-block__p lang">Italiano</p>
        {% end %}
    </section>
</main>
<footer class="k-footer">
    <a href="/home" class="k-footer-left">
        <button class="k-footer__btn k-footer__btn--red "> <img src="/static/images/icon_flecha-back.svg" /> </button>
    </a>
</footer>
</body>
<script src="/static/js/language.js"></script>
{% end %}