{% extends "base.html" %}
{% block content %}
<main class="k-main">
    {% if error %}
    <h2 class="k-main__h2">{{_("nofilesfound").format(",")}}</h2>
    {% else %}
    <section class="k-block">
        {% for key, value in items.items() %}
        <div class="k-block-2 file_selected" data-path="{{value}}" data-filename="{{ key }}">
            <div class="k-block-2__left">
                <div class="k-block-2__img-container">
                </div>
                <p>{{ key }}</p>
            </div>
        </div>
        {% end %}
    </section>
    {% end %}
</main>
<footer class="k-footer">
    {% if listing_id == "1" %}
    <a href="/print-selection" class="k-footer-left">
        <button class="k-footer__btn k-footer__btn--red "> <img src="/static/images/icon_flecha-back.svg" /> </button>
    </a>
    {% else %}
    <a href="/local-files-selection" class="k-footer-left">
        <button class="k-footer__btn k-footer__btn--red "> <img src="/static/images/icon_flecha-back.svg" /> </button>
    </a>
    {% end %}
    <!-- Implementar despues
    <div class="k-footer-right">
      <button class="k-footer__btn k-footer__btn--yellow"> 
        <img src="/static/images/icon_vista-lista.svg"/>
      </button>  
      <button class="k-footer__btn k-footer__btn--grey"> 
        <img src="/static/images/icon_vista-miniatura.svg"/>
      </button>  
    </div>
    -->
</footer>
<script>
    var printing = false;
</script>
<script src="/static/js/print.js"></script>
</body>
{% end %}