{% extends "base.html" %}
{% block content %}
<main class="k-main">
    <h2 class="k-main__h2">{{_("config_wifi")}}</h2>
    <section class="k-block k-block--shortened">
        <div id="waiting_info">
            <h2 class="k-main__h2">{{_("waiting_info")}}</h2>
        </div>
        <div id="wifi_list"></div>
    </section>
</main>

{%if not wizzard_viewed %}
<footer class="k-footer">
    <a href="/next-wizzard" class="k-footer-left">
        <button class="k-footer__btn k-footer__btn--yellow k-footer__btn--wide">{{_("onboarding_skip")}} </button>
    </a>
</footer>
{% else %}
<footer class="k-footer">
    <a href="/connectivity" class="k-footer-left">
        <button class="k-footer__btn k-footer__btn--red "> <img src="/static/images/icon_flecha-back.svg" /> </button>
    </a>
    <div class="k-footer-right">
        {% if is_wifi %}
        <button id="toggle_wifi" class="k-footer__btn k-footer__btn--grey k-footer__btn--wide"> <img
                src="/static/images/icon_wifi-desactivar.svg" /> </button>
        {% else %}
        <button id="toggle_wifi" class="k-footer__btn k-footer__btn--grey k-footer__btn--wide"> <img
                src="/static/images/icon_wifi-activar.svg" /> </button>
        {% end %}
    </div>
</footer>
{% end %}

<!-- MODAL -->
<section id="wifi_modal" class="k-modal-overlay">
    <div class="k-modal">
        <div class="k-modal-4">
            <div class="k-modal-4__top">
                <p class="k-modal__p k-modal__p--big k-modal__p--center">{{_("connect_modal_title")}}</p>
                <p id="network_name_title" class="k-modal__warning k-modal__warning--grey"></p>
                <input id="keyboard" type="text" class="form-control" name="password" placeholder="password" />
                <input id="network_name" type="hidden" class="form-control" name="network_name" />
                <p id="connection_error" class="k-modal__p k-modal__p--big k-modal__p--center"></p>
            </div>
            <div class="k-modal-4__bottom">
                <button id="cancel_modal"
                    class="k-modal-4__button k-modal-4__button--red">{{_("connect_cancel")}}</button>
                <button id="confirm" class="k-modal-4__button k-modal-4__button--yellow">{{_("connect")}}</button>
            </div>
        </div>
    </div>
</section>
<section id="wait_fetching_modal" class="k-modal-overlay">
    <div class="k-modal">
        <div class="k-modal-4">
            <div class="k-modal-2">
                <img class="k-spinner-container__spinner" src="/static/images/icon_loader.svg" />
                <h2 class="k-modal__title k-modal__title--big">{{_("connecting")}}</h2>
            </div>
        </div>
    </div>
</section>
<section id="connection_ok_modal" class="k-modal-overlay">
    <div class="k-modal">
        <div class="k-modal-container">
            <div class="k-modal-2">
                <img class="k-modal-2__img" src="/static/images/icon-tilde_verde.svg" />
                <p class="k-modal__p k-modal__p--big k-modal__p--center k-modal_p--maxwidth">
                    {{_("wifi_connection_ok_modal")}}
                </p>
            </div>
            <div class="k-modal-4__bottom">
                <button id="connection_ok_modal_btn" class="k-modal-4__button k-modal-4__button--red">OK</button>
            </div>
        </div>
    </div>
</section>
<section id="connection_no_ok_modal" class="k-modal-overlay">
    <div class="k-modal">
        <div class="k-modal-container">
            <div class="k-modal-2">
                <img class="k-modal-2__img" src="/static/images/icon_cruz-roja.svg" />
                <p class="k-modal__p k-modal__p--big k-modal__p--center k-modal_p--maxwidth">
                    {{_("network_connect_failure")}}
                </p>
            </div>
            <div class="k-modal-4__bottom">
                <button id="connection_no_ok_modal_btn" class="k-modal-4__button k-modal-4__button--red">OK</button>
            </div>
        </div>
    </div>
</section>
<section id="wifi_info_modal" class="k-modal-overlay">
    <div class="k-modal">
        <button id="wifi_info_modal_btn" class="k-modal__close">
            <img src="/static/images/icon_cancelar.svg" />
        </button>
        <div class="k-modal-container">
            <div class="k-modal-2">
                <table id="wifi_info_table">
                    <tbody></tbody>
                </table>
            </div>
            <div class="k-modal-4__bottom">
                <button id="forget_wifi_btn" class="k-modal-4__button k-modal-4__button--red">{{_("forget")}}</button>
            </div>
        </div>
    </div>
</section>
<section id="reset_wifi_wait" class="k-modal-overlay">
    <div class="k-modal">
        <div class="k-modal-container">
            <div class="k-modal-2">
                <img class="k-spinner-container__spinner" src="/static/images/icon_loader.svg" />
                <p class="k-modal__p k-modal__p--big k-modal__p--center k-modal_p--maxwidth">
                    {{_("print_load_file_popup_body")}}
                </p>
            </div>
        </div>
    </div>
</section>
<script>
    var is_wifi = {{ is_wifi_js }};
</script>
<script src="/static/js/wifi_connection.js"></script>
</body>
{% end %}