{% extends "base.html" %}
{% block content %} 
<main>
<ul id="wifi_list" class="list-unstyled">
    {% for name in wifi_list %}
    <li data-wifiname="{{name}}" style="height: 50px; font-size: 20px">
        {{ name }}
    </li>
    {% end %}
</ul>
</main>

<footer>
    <a id="back" class="button" href="/connectivity"></a>
</footer>

<!-- Modal -->
<div class="modal fade" id="wifi_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-body">
            <form action="/wifi-connection" method="POST">
                <div class="form-group">
                  <label for="serial">Network password</label>
                  <input id="keyboard" type="text" class="form-control" name="password" placeholder="password">
                  <input id="network_name" type="hidden" class="form-control" name="network_name">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        </div>
    </div>
</div>
<!-- End Modal -->
<script src="/static/js/wifi_connection.js"></script>
</body>
{% end %}
