{% extends "base.html" %}
{% block content %}
<main class="k-main">
    <section class="k-grid k-grid--1x3 k-grid--1x3-titled k-grid--1x3-titled-3">
        <h3 class="k-grid--1x3-titled-full">{{_("mcontrol_title")}}</h3>

        <a href="/build-plate-controls" class="k-grid-item">
            <img class="k-grid-item__img" src="/static/images/icon_control-cama.svg" />
            <p class="k-grid-item__p">{{_("manualcontrol_buildplate")}}</p>
        </a>

        <a href="/extruders-controls" class="k-grid-item">
            <img class="k-grid-item__img" src="/static/images/icon_control-extrusor.svg" />
            <p class="k-grid-item__p">{{_("manualcontrol_extruders")}}</p>
        </a>

        <a href="#" class="k-grid-item">
            <img class="k-grid-item__img" src="/static/images/icon_luz-prendida.svg" />
            <p class="k-grid-item__p">{{_("manualcontrol_light")}}</p>
        </a>
        <!-- para versión de luz apagada 
              <div class="k-grid-item k-grid-item--grey">
                <img class="k-grid-item__img" src="/static/images/icon_luz-apagada.svg"/>
                <p  class="k-grid-item__p">{{_("manualcontrol_light")}}</p>
              </div>
              -->
    </section>
</main>

<footer class="k-footer">
    <a href="/advanced" class="k-footer-left">
        <button class="k-footer__btn k-footer__btn--red "> <img src="/static/images/icon_flecha-back.svg" /> </button>
    </a>
</footer>
</body>
{% end %}