{% extends "base.html" %}
{% block content %}
<main class="k-main">
    <section class="k-block">
        {% if size == "0.3" %}
        <div data-nozzle-tipe="{{nozzle}}" data-nozzle="0.3" class="k-block-2 k-block-2--centered k-block-2--yellow nozzle_selected">
            <p>0,3</p>
        </div>
        {% else %}
        <div data-nozzle-tipe="{{nozzle}}" data-nozzle="0.3" class="k-block-2 k-block-2--centered nozzle_selected">
            <p>0,3</p>
        </div>
        {% end %}
        {% if size == "0.4" %}
        <div data-nozzle-tipe="{{nozzle}}" data-nozzle="0.4" class="k-block-2 k-block-2--centered k-block-2--yellow nozzle_selected">
            <p>0,4</p>
        </div>
        {% else %}
        <div data-nozzle-tipe="{{nozzle}}" data-nozzle="0.4" class="k-block-2 k-block-2--centered nozzle_selected">
            <p>0,4</p>
        </div>
        {% end %}
        {% if size == "0.5" %}
        <div data-nozzle-tipe="{{nozzle}}" data-nozzle="0.5" class="k-block-2 k-block-2--centered k-block-2--yellow nozzle_selected">
            <p>0,5</p>
        </div>
        {% else %}
        <div data-nozzle-tipe="{{nozzle}}" data-nozzle="0.5" class="k-block-2 k-block-2--centered nozzle_selected">
            <p>0,5</p>
        </div>
        {% end %}
        {% if size == "0.6" %}
        <div data-nozzle-tipe="{{nozzle}}" data-nozzle="0.6" class="k-block-2 k-block-2--centered k-block-2--yellow nozzle_selected">
            <p>0,6</p>
        </div>
        {% else %}
        <div data-nozzle-tipe="{{nozzle}}" data-nozzle="0.6" class="k-block-2 k-block-2--centered nozzle_selected">
            <p>0,6</p>
        </div>
        {% end %}
        {% if size == "0.7" %}
        <div data-nozzle-tipe="{{nozzle}}" data-nozzle="0.7" class="k-block-2 k-block-2--centered k-block-2--yellow nozzle_selected">
            <p>0,7</p>
        </div>
        {% else %}
        <div data-nozzle-tipe="{{nozzle}}" data-nozzle="0.7" class="k-block-2 k-block-2--centered nozzle_selected">
            <p>0,7</p>
        </div>
        {% end %}
        {% if size == "0.8" %}
        <div data-nozzle-tipe="{{nozzle}}" data-nozzle="0.8" class="k-block-2 k-block-2--centered k-block-2--yellow nozzle_selected">
            <p>0,8</p>
        </div>
        {% else %}
        <div data-nozzle-tipe="{{nozzle}}" data-nozzle="0.8" class="k-block-2 k-block-2--centered nozzle_selected">
            <p>0,8</p>
        </div>
        {% end %}
        {% if size == "0.9" %}
        <div data-nozzle-tipe="{{nozzle}}" data-nozzle="0.9" class="k-block-2 k-block-2--centered k-block-2--yellow nozzle_selected">
            <p>0,9</p>
        </div>
        {% else %}
        <div data-nozzle-tipe="{{nozzle}}" data-nozzle="0.9" class="k-block-2 k-block-2--centered nozzle_selected">
            <p>0,9</p>
        </div>
        {% end %}
    </section>
</main>

<footer class="k-footer">
    <a href="/nozzles" class="k-footer-left">
        <button class="k-footer__btn k-footer__btn--red "> <img src="/static/images/icon_flecha-back.svg" /> </button>
    </a>
    <a class="k-footer-right">
        <button class="k-footer__btn k-footer__btn--yellow k-footer__btn--wide">{{_("calibration_save")}}</button>
    </a>
</footer>
<script src="/static/js/nozzle.js"></script>
</body>
{% end %}