{% extends "base.html" %}
{% block content %}
<main class="k-main">
    <section class="k-block">
        <div class="k-block-2 k-block-2--centered">
            <p>0,3</p>
        </div>
        <div class="k-block-2 k-block-2--centered k-block-2--yellow">
            <p>0,4</p>
        </div>
        <div class="k-block-2 k-block-2--centered">
            <p>0,5</p>
        </div>
        <div class="k-block-2 k-block-2--centered">
            <p>0,6</p>
        </div>
        <div class="k-block-2 k-block-2--centered">
            <p>0,7</p>
        </div>
        <div class="k-block-2 k-block-2--centered">
            <p>0,8</p>
        </div>
        <div class="k-block-2 k-block-2--centered">
            <p>0,9</p>
        </div>
    </section>
</main>

<footer class="k-footer">
    <a href="/nozzles" class="k-footer-left">
        <button class="k-footer__btn k-footer__btn--red "> <img src="/static/images/icon_flecha-back.svg" /> </button>
    </a>
    <a class="k-footer-right">
        <button class="k-footer__btn k-footer__btn--yellow k-footer__btn--wide">{{_("calibration_save")}}</button>
    </a>
</footer>

</body>
{% end %}