{% extends "base.html" %}
{% block content %}
<main class="k-main">
    <section class="k-grid k-grid--2x2">
        <a id="plate-up" href="#" class="k-grid-item">
            <img class="k-grid-item__img" src="/static/images/icon_control-cama-arriba.svg" />
        </a>
        <a href="/plate-select-temp" class="k-grid-item">
            <img class="k-grid-item__img" src="/static/images/icon_control-cama-temp.svg" />
        </a>
        <a id="plate-down" href="#" class="k-grid-item">
            <img class="k-grid-item__img" src="/static/images/icon_control-cama-abajo.svg" />
        </a>
        <a id="plate-home" href="#" class="k-grid-item">
            <img class="k-grid-item__img" src="/static/images/icon_control-cama-home.svg" />
        </a>
    </section>
</main>
<footer class="k-footer">
    <a href="/back-manual-controls" class="k-footer-left">
        <button class="k-footer__btn k-footer__btn--red "> <img src="/static/images/icon_flecha-back.svg" /> </button>
    </a>
</footer>
<script src="/static/js/manual_control.js"></script>
</body>
{% end %}