{% extends "base.html" %}
{% block content %}
<main>
    <h1>Build Plate</h1>
    <ul class="first_attemp">
        <li>
            <a id="plate-up" href="#">
                <img src="static/images/icons/buildplate-up-icon.svg" alt="">
            </a>
        </li>
        <li>
            <a id="plate-home" href="#">
                <img src="static/images/icons/buildplate-home-icon.svg" alt="">
            </a>
        </li>
        <li>
            <a id="plate-down" href="#">
                <img src="static/images/icons/buildplate-down-icon.svg" alt="">
            </a>
        </li>
        <li>
            <a href="/plate-select-temp">
                <img src="static/images/icons/buildplate-HEAT-icon.svg" alt="">
            </a>
        </li>
    </ul>
</main>

<footer>
    <a id="back" class="button" href="/back-manual-controls"></a>
    <div class="slogan"></div>
</footer>
<script src="/static/js/manual_control.js"></script>
</body>
{% end %}