{% extends "base.html" %}
{% block content %}
<main>
    <h1>Build Plate</h1>
    <ul class="first_attemp">
        <li>
            <a href="#">
                <img src="static/images/icons/buildplate-up-icon.svg" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="static/images/icons/buildplate-home-icon.svg" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="static/images/icons/buildplate-down-icon.svg" alt="">
            </a>
        </li>
        <li>
            <a href="/plate-select-temp">
                <img src="static/images/icons/buildplate-HEAT-icon.svg" alt="">
            </a>
        </li>
    </ul>
</main>

<footer>
    <a id="back" class="button" href="javascript:history.back()"></a>
    <div class="slogan"></div>
</footer>
</body>
{% end %}