{% extends "base.html" %}
{% block content %}
<main>
    <div class="monitor-container">
        <div>
            <div class="monitor-header">
                {{filename}}
            </div>
            <div class="progress-numeric">
                <div class="clock-small-icon"></div>
                <div>Calculating...</div>
            </div>
            <div class="progress-numeric">
                <div class="extruder-2-small-icon"></div>
                <div>Preset on file</div>
            </div>
            <div class="progress-numeric">
                <div class="extruder-1-small-icon"></div>
                <div>Preset on file</div>
            </div>
            <div class="progress-numeric">
                <div class="bed-small-icon"></div>
                <div>Preset on file</div>
            </div>
        </div>
        <div class="status-preview">
            <img class="model-preview" src="#" alt="" width="300" height="100%">
            </div>
        </div>
    </div>
</main>
<footer>
<a id="back" class="button" href="/listing-files/1"></a>
<div class="slogan"></div>
<div id="forward" class="button"><a id="print" data-toggle="modal" data-target="#waitModal" href="#"><img src="static/images/icons/print-icon.svg">Print</a></div>
</footer>
<!-- Modal -->
<div class="modal fade" id="waitModal" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header" style="background-color:#FFB700;color:black"> </div>
        <div style="font-size: 25pt;padding-top: 1px;padding-bottom: 2px;" class="modal-body" id="modal-body">
            <span>Estoy cargando el archivo, por favor espere. Esto puede tomar un tiempo</span>
        </div>
        <div class="modal-footer">
    </div>
    </div>
</div>
</div>
<script src="/static/js/print.js"></script>
</body>
{% end %}