{% extends "base.html" %}
{% block content %}
<main>
       
    <div class="monitor-container">
        <div>
            <div class="monitor-header">
                XY Offset Calibration
            </div>
            
            <div class="monitor-progress">
                <!--<uib-progressbar class="monitor-progress-bar"></uib-progressbar>-->
                <span style="position: absolute; right: 0; color: white; font-family: Graphik-Semibold; font-size: 28px; line-height: 42px; margin-right: 5px">100%</span>
            </div>

            <div class="progress-numeric">
                <div class="clock-small-icon"></div>
                <div id="timer"></div>
            </div>
        </div>
        <div class="status-preview">
            <img class="model-preview" src="#" alt="" width="300" height="100%">
            <div class="monitor-status">Monitor status</div>
            </div>
        </div>
    </div>
</main>

<footer>
    <a id="cancel" class="button" href="#" data-toggle="modal" data-target="#cancelModal">Cancel</a>
    <div class="slogan"></div>
    <a id="forward pausa" class="button" href="#" >Pause</a>
    <a id="forward resume" class="button" href="#" style="display:none;">Resume</a>
</footer>
<!-- Cancel modal-->
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header" style="background-color:#FFB700;color:black">
        </div>
        <div style="font-size: 25pt;padding-top: 1px;padding-bottom: 2px;" class="modal-body" id="modal-body">
            ¿Desea cancelar?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            <a href="/cancelar" class="btn btn-primary">Si</a>
        </div>
        </div>
    </div>
</div>
</body>
<script>
countDownDate = new Date();
// Update the count down every 1 second
var x = setInterval(function() {
    // Get todays date and time
    var now = new Date().getTime();
    // Find the distance between now an the count down date
    var distance = now - countDownDate.getTime();
    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    // Output the result in an element with id="demo"
    document.getElementById("timer").innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
}, 1000);

$('#pausa').click(function(){
    $.get( "/pausa" );
    $('#pausa').toggle( false );
    $('#resume').toggle( true );
});
$('#resume').click(function(){
    $.get( "/resume" );
    $('#pausa').toggle( true );
    $('#resume').toggle( false );
});
</script>
{% end %}