{% extends "base.html" %}
{% block content %}
<main class="k-main">
    <section class="k-grid k-grid--1x3">
        <a href="/to-cloud-queue" class="k-grid-item">
            <img class="k-grid-item__img" src="/static/images/icon_imprimir-nube.svg" />
            <p class="k-grid-item__p">{{_("print_selection_cloud")}}</p>
        </a>
        <a href="/listing-files/1" class="k-grid-item">
            <img class="k-grid-item__img" src="/static/images/icon_imprimir-usb.svg" />
            <p class="k-grid-item__p">{{_("files_pendrive")}}</p>
        </a>
        <a href="/local-files-selection" class="k-grid-item">
            <img class="k-grid-item__img" src="/static/images/icon_imprimir-local.svg" />
            <p class="k-grid-item__p ">{{_("print_selection_local")}}</p>
        </a>
    </section>
</main>

<footer class="k-footer">
    <a href="/home" class="k-footer-left">
        <button class="k-footer__btn k-footer__btn--red "> <img src="/static/images/icon_flecha-back.svg" /> </button>
    </a>
</footer>
</body>
{% end %}