{% extends "base.html" %}
{% block content %}
<main class="k-main">
    <section class="k-printing">
        <div class="k-printing-main">
            <h2 class="k-printing-main__h2">{{filename}}</h2>
            <progress id="progress_bar" class="k-printing-main__progress" max="100" value="0"></progress>
            <ul class="k-printing-main__ul">
                <li class="k-printing-main__li">
                    <img src="/static/images/icon_imprimir-tiempo.svg" />
                    {{_("monitor_elapsedtime")}}: <label id="hours">00</label>:<label id="minutes">00</label>:<label
                        id="seconds">00</label> hs
                </li>
                <!-- ?
          <li class="k-printing-main__li">
            <img src="/static/images/icon_imprimir-tiempo.svg"/>
            Printing time: 00:00 hs
          </li>
          -->
            </ul>
        </div>
        {% if is_image %}
        <div class="k-printing-preview">
            <img src="/print_images/print.png" width="286" height="100%" />
        </div>
        {% end %}
        {% if filename.split(".gcode")[0] in ["5 points", "XY Offset Calibration", "Z Offset test T0", "Z Offset test T1"]  %}
            <div class="k-printing-preview">
                <img src="/calib_images/{{filename.split('.gcode')[0] + '.jpg'}}" width="286" height="100%" />
            </div>
        {% end %}
    </section>
</main>
<footer class="k-footer">
    <div class="k-footer-left">
        <div class="k-footer-left">
            <button id="cancel" class="k-footer__btn k-footer__btn--red k-footer__btn--wide"> <img
                    src="/static/images/icon_cancelar.svg" />
                {{_("monitor_cancel")}} </button>
        </div>
    </div>
    <div class="k-footer-right">
        <button id="pausa" class="k-footer__btn k-footer__btn--yellow k-footer__btn--wide">
            <img src="/static/images/icon_pausa.svg" />
            {{_("monitor_pause")}}
        </button>
        <button id="resume" class="k-footer__btn k-footer__btn--yellow k-footer__btn--wide" style="display:none;">
            <img src="/static/images/icon_resume.svg" />
            {{_("monitor_resume")}}
        </button>
    </div>
</footer>
<!-- New modals -->
<section id="cancel_modal" class="k-modal-overlay">
    <div class="k-modal">
        <div class="k-modal-4">
            <div class="k-modal-4__top">
                <p class="k-modal__p k-modal__p--big k-modal__p--center">{{_("confirm_cancel")}}</p>
            </div>
            <div class="k-modal-4__bottom">
                <button id="cancel_modal_no"
                    class="k-modal-4__button k-modal-4__button--yellow">{{_("confirm_no")}}</button>
                <a id="cancel_modal_yes" class="k-modal-4__button k-modal-4__button--red">{{_("confirm_yes")}}</a>
            </div>
        </div>
    </div>
</section>
<section id="wait_cancel_modal" class="k-modal-overlay">
    <div class="k-modal">
        <div class="k-modal-container">
            <div class="k-modal-2">
                <img class="k-spinner-container__spinner" src="/static/images/icon_loader.svg" />
                <h2 class="k-modal__title k-modal__title--big">{{_("cancel_popup_title")}}</h2>
                <p class="k-modal__p k-modal__p--big k-modal__p--center k-modal_p--maxwidth">
                    {{_("cancel_popup_body")}}</p>
            </div>
        </div>
    </div>
</section>
<script>
    var printing = true;
</script>
<script src="/static/js/print.js"></script>
</body>
{% end %}