<!DOCTYPE html>
<html>
<head>
    <meta name="google" content="notranslate">
    <link rel="stylesheet" href="/static/css/kodak.css">
    <link rel="stylesheet" href="/static/css/keyboardui.css">
    <!--<link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">-->
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <!-- keyboard widget css & script -->
    <link href="/static/Keyboard-master/css/keyboard.css" rel="stylesheet">
    <script src="/static/Keyboard-master/js/jquery.keyboard.js"></script>
    <!-- css for the preview keyset extension -->
    <link href="/static/Keyboard-master/css/keyboard-previewkeyset.css" rel="stylesheet">
    <script src="/static/Keyboard-master/js/jquery.keyboard.extension-extender.js"></script>
</head>
<body>
    <header class="k-header"></header>
<main class="k-main">
    <h2 class="k-main__h2">Select the version number</h2>
    <section class="k-block">
      <form action="/put-version" method="POST">
        {% for version in version_list %}
        <button type="submit" class="k-modal-4__button k-modal-4__button--yellow" name="version" value="{{version}}">{{version}}</button>
        {% end %}
      </form>
    </section>
</main>
</body>
</html>