{% extends "base.html" %}
{% block content %}
<main class="k-main">
    <section class="k-grid k-grid--1x3 k-grid--1x3-titled k-grid--1x3-titled-3">
        <a href="/build-plate-calibration" class="k-grid-item">
            <img class="k-grid-item__img" src="/static/images/icon_calibracion-cama.svg"/> <p
                class="k-grid-item__p">{{_("calibration_z_probe")}}</p>
        </a>
        <a href="/z-offset-calibration" class="k-grid-item">
            <img class="k-grid-item__img" src="/static/images/icon_control-extrusor.svg"/> <p
                class="k-grid-item__p">{{_("calibration_z_offset")}}</p>
        </a>
        <a href="/xy-offset-calibration" class="k-grid-item">
            <img class="k-grid-item__img" src="/static/images/icon_calibracion-z.svg"/> <p
                class="k-grid-item__p">{{_("calibration_xy")}}</p>
        </a>
    </section>
</main>

<footer class="k-footer">
    <a href="/setup" class="k-footer-left">
        <button class="k-footer__btn k-footer__btn--red "> <img src="/static/images/icon_flecha-back.svg" />
        </button>
    </a>
</footer>
</body>
{% end %}