{% extends "base.html" %}
{% block content %}

<main class="k-main">
    <h2 class="k-main__h2">{{_("language_title")}}</h2>
    <br />
    <div>
        <a href="/home" class="k-dialog__button k-dialog__button--shortened">{{_("confirm_no")}}</a>
        <a href="/skip-wizard" class="k-dialog__button k-dialog__button--shortened k-modal-4__button--red">{{_("confirm_yes")}}</a>
    </div>
</main>
<footer class="k-footer">
    <a href="/home" class="k-footer-right">
        <button class="k-footer__btn k-footer__btn--yellow k-footer__btn--wide">{{_("onboarding_next")}} </button>
    </a>
</footer>
</body>
{% end %}