{% extends "base.html" %}
{% block content %}
<main class="k-main">
    <section class="k-dialog k-dialog--center">
        <h2 class="k-dialog__h2">{{_("info_update")}}</h2>
        <p>{{_("info_swversion")}} <strong>?</strong></p>
        <p><strong>? {{_("info_updateavailable")}}</strong></p>
        <button id="update" class="k-dialog__button">{{_("extras_update")}}</button>
    </section>
</main>

{%if not wizzard_viewed %}
<footer class="k-footer">
    <a href="/next-wizzard" class="k-footer-left">
        <button class="k-footer__btn k-footer__btn--yellow k-footer__btn--wide">{{_("onboarding_skip")}} </button>
    </a>
</footer>
{% else %}
<footer class="k-footer">
    <a href="/advanced" class="k-footer-left">
        <button class="k-footer__btn k-footer__btn--red "> <img src="/static/images/icon_flecha-back.svg" />
        </button>
    </a>
</footer>
{% end %}

<!-- New modals -->
<section id="updateModal" class="k-modal-overlay">
    <div class="k-modal">
        <button id="update_modal_close" class="k-modal__close">
            <img src="/static/images/icon_cancelar.svg" />
        </button>
        <div class="k-modal-container">
            <div class="k-modal-2">
                <img class="k-spinner-container__spinner" src="/static/images/icon_loader.svg" />
                <h2 class="k-modal__title k-modal__title--big">
                    {{_("waitForReboot")}}</h2>
            </div>
        </div>
    </div>
</section>
</body>
<script src="/static/js/updates.js"></script>
{% end %}