{% extends "base.html" %}
{% block content %}
<main class="k-main">
    <section class="k-dialog k-dialog--center">
        <h2 class="k-dialog__h2">{{_("info_update")}}</h2>
        <input type="text" class="form-control" name="version" />
        <div id="tags"></div>
    </section>
</main>
<footer class="k-footer">
    <a href="/advanced" class="k-footer-left">
        <button class="k-footer__btn k-footer__btn--red "> <img src="/static/images/icon_flecha-back.svg" />
        </button>
    </a>
</footer>
<!-- New modals -->
<section id="updateModal" class="k-modal-overlay">
    <div class="k-modal">
        <button id="update_modal_close" class="k-modal__close">
            <img src="/static/images/icon_cancelar.svg" />
        </button>
        <div class="k-modal-container">
            <div class="k-modal-2">
                <img class="k-spinner-container__spinner" src="/static/images/icon_loader.svg" />
                <h2 class="k-modal__title k-modal__title--big">
                    {{_("waitForReboot")}}</h2>
            </div>
        </div>
    </div>
</section>
</body>
<script>
$.get("/get-dev-update").done(function(data){
    var select = $("#tags")
    for (var index = 0; index < data.tags.length; index++) {
        var d = '<div class="k-block-2">'
        d += '<div class="k-block-2__left"> <p>'+ data.tags[index] +'</p> </div> </div>'
        select.append(d)
        //select.append('<option value="' + data.tags[index] + '" >' + data.tags[index] + '</option>');
    }    
});
</script>
{% end %}