{% extends "base.html" %}
{% block content %}
<main>

  <h1>XY Offset Calibration</h1>
  <div class="grid">
      <div id="value" class="top-row left-half"><input id="xoffset" type="text" style="font-size: 50px" size="4"/></div>
      <div id="value" class="bottom-row left-half"><input id="yoffset" type="text" style="font-size: 50px" size="4"/></div>
      <div class="btn y-calibration top">
          <a id="y_plus_button" href="#">
              <img src="static/images/icons/arrow-up.svg">
          </a>
      </div>
      <div class="btn x-calibration-left middle">
          <a id="x_minus_button" href="#">
              <img src="static/images/icons/arrow-up.svg" style="  transform: rotate(-90deg);">
          </a>
      </div>
      <div class="btn x-calibration-right middle">
          <a id="x_plus_button" href="#">
              <img src="static/images/icons/arrow-up.svg" style="  transform: rotate(90deg);">
          </a>
      </div>
      <div class="btn y-calibration bottom">
          <a id="y_minus_button" href="#">
              <img src="static/images/icons/arrow-down.svg">
          </a>
      </div>
  </div>
</main>
<footer>
  <a id="back" class="button" href="/back-calibration-selection"></a>
  <div class="slogan">
      <a id="tooltip" class="button" href="#"></a>
  </div>
  <div id="forward" class="button"><a id="save_xyoffset" href="#">Save</a></div>
</footer>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color:#FFB700;color:black"> </div>
      <div class="modal-body">
        Espere mientras se resetea la maquina
      </div>
      </div>
  </div>
</div>
<!-- End Modal -->
</body>
<script src="/static/js/calibration.js"></script>
{% end %}