{% extends "base.html" %}
{% block content %}
  <h1>Z offset calibration</h1>
  <form action="/xy-offset-calibration" method="POST">
<div class="form-group">
    <label for="exampleInputEmail1">X Offset</label>
    <input type="text" name="xoffset" id="xoffset">
    <div id="x_plus_button" class="button">+</div>
    <div id="x_minus_button" class="button">-</div>
</div>
<div class="form-group">
    <label for="exampleInputEmail1">Y Offset</label>
    <input type="text" name="yoffset" id="yoffset">
    <div id="y_plus_button" class="button">+</div>
    <div id="y_minus_button" class="button">-</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-body">
        Espere mientras se resetea la maquina
      </div>
      </div>
  </div>
</div>
<!-- End Modal -->
<footer>
  <a id="back" class="button" href="/back-calibration-selection"></a>
  <div id="save_xyoffset" class="button">Save</div>
</footer>
</body>
<script src="/static/js/calibration.js"></script>
{% end %}