{% extends "base.html" %}
{% block content %}
<main class="k-main">
    <section class="k-grid k-grid--1x2 k-grid--1x2-titled">
        <h3>{{_("calibration_xy")}}</h3>

        <div class="k-grid-item  k-grid-item--buttoned k-grid-item--buttoned-h">
            <button id="x_plus_button" class="k-grid-item__button k-grid-item__button--left">
                <img src="/static/images/icon_flecha-izq.svg" />
            </button>
            <div class="k-grid-item__center">X: <div id="xoffset"></div>
            </div>
            <button id="x_minus_button" class="k-grid-item__button k-grid-item__button--left">
                <img src="/static/images/icon_flecha-der.svg" />
            </button>
        </div>

        <div class="k-grid-item  k-grid-item--buttoned k-grid-item--buttoned-y">
            <button id="y_plus_button" class="k-grid-item__button k-grid-item__button--left">
                <img src="/static/images/icon_flecha-arriba.svg" />
            </button>
            <div class="k-grid-item__center">Y: <div id="yoffset"></div>
            </div>
            <button id="y_minus_button" class="k-grid-item__button k-grid-item__button--left">
                <img src="/static/images/icon_flecha-abajo.svg" />
            </button>
        </div>
    </section>
    <div class="k-help-btn">
        <img src="/static/images/icon_ayuda.svg" />
    </div>
</main>

<footer class="k-footer">
    <a class="k-footer-left" href="/select-calibration">
        <button class="k-footer__btn k-footer__btn--red "> <img src="/static/images/icon_flecha-back.svg" /> </button>
    </a>
    <div class="k-footer-right">
        <button class="k-footer__btn k-footer__btn--yellow k-footer__btn--wide"
            id="save_xyoffset">{{_("calibration_save")}}</button>
    </div>
</footer>

<!-- New modals -->
<section id="calibration_reset" class="k-modal-overlay">
    <div class="k-modal">
        <button id="calibration_reset_close" class="k-modal__close">
            <img src="/static/images/icon_cancelar.svg" />
        </button>
        <div class="k-modal-container">
            <div class="k-modal-2">
                <img class="k-spinner-container__spinner" src="/static/images/icon_loader.svg" />
                <p class="k-modal__p k-modal__p--big k-modal__p--center k-modal_p--maxwidth">
                    {{_("calibration_reset_board")}}
                </p>
            </div>
        </div>
    </div>
</section>
<section id="calibration_error" class="k-modal-overlay">
    <div class="k-modal">
        <button id="help_calibration_modal_close" class="k-modal__close">
            <img src="/static/images/icon_cancelar.svg" />
        </button>
        <div class="k-modal-container">
            <div class="k-modal-2">
                <p class="k-modal__p k-modal__p--big k-modal__p--center k-modal_p--maxwidth">
                    {{_("calibration_error")}}
                </p>
            </div>
        </div>
    </div>
</section>
</body>
<script src="/static/js/calibration.js"></script>
{% end %}