{% extends "base.html" %}
{% block content %} 
<ul id="file_list" class="list-unstyled">
    {% for key, value in items.items() %}
    <li data-path="{{value}}" data-filename="{{ key }}" class="container files-item" style="padding: 0" >
    <div style="display: flex; height: 100%; border: 2px solid #d2d2d2; margin-top: 10px;">
        <div style="display: flex; width: 430px; height: 50px; justify-content: left; align-items: center; padding-left: 20px ">
            <h3 style="font-family: Graphik-Semibold; font-size: 19px; line-height: 23px; margin: 0">
                {{ key }}
            </h3>
        </div>
    </div>
    </li>
    {% end %}
</ul>
{% end %}
