{% extends "base.html" %}
{% block content %} 
<div class="row">
    <div class="col-xs-3 col-sm-3"></div>
    <div class="col-xs-3 col-sm-3"><h1 style="font-family: Graphik-Semibold;">Select option</h1></div>
</div>
<div class="row">
    <div class="col-xs-3 col-sm-3"></div>
    <div class="col-xs-3 col-sm-3">
    <a href="/listing-files/1" class="btn btn-lg btn-warning">
        <img src="/static/images/usb-menu-icon-big.svg" alt="" width="160">
        <h3 style="color: black; font-family: Graphik-Semibold; text-align: center; line-height: 24px; font-size: 20px; margin-top:30px;">Usb flash drive</h3>
    </a>
    </div>
    <div class="col-xs-3 col-sm-3">
    <a href="/listing-files/2" class="btn btn-lg btn-warning">
        <img src="/static/images/sample-icon-big.svg" alt="" width="160">
        <h3 style="color: black; font-family: Graphik-Semibold; text-align: center; line-height: 24px; font-size: 20px;">Local files</h3>
    </a>
    </div>
    <!--<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 200px; height: 210px; border-radius: 10px; background: #FFB700; margin: 20px;" ">
        <img src="/static/images/calibrate-icon-big.svg" alt="" width="160">
        <h3 style="color: black; font-family: Graphik-Semibold; text-align: center; line-height: 24px; font-size: 20px;"></h3>
    </div>-->
</div>
<div class="row">
        <div class="col-xs-1 col-sm-1"></div>
        <div class="col-xs-6 col-sm-6"></div>
    <a href="/print-selection" class="btn btn-lg btn-danger">
        <img src="/static/images/46px_Back.png" alt="">
    </a>
    </div>
</div>
{% end %}