{% extends "base.html" %}
{% block content %} 
<h1>queres imprimir este archivo?</h1>
<h3>{{filename}}</h3>

<!-- Modal -->
<div class="modal fade" id="waitModal" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header" style="background-color:#FFB700;color:black"> </div>
        <div style="font-size: 25pt;padding-top: 1px;padding-bottom: 2px;" class="modal-body" id="modal-body">
            <span>Estoy cargando el archivo, por favor espere. Esto puede tomar un tiempo</span>
        </div>
        <div class="modal-footer">
    </div>
    </div>
</div>
</div>

<div class="footer-div" class="row">
    <div class="row">
        <div ng-click="back()" class="footer-text col-md-3 col-sm-3 col-xs-3" style="background: #ed3237">
            <img src="../assets/printIcons/46px_Back.png" alt="">
        </div>
        <div id="print" data-toggle="modal" data-target="#waitModal" style="color: black; display: flex;justify-content: center;align-items: center; padding-top: 0;" class="footer-text col-md-offset-6 col-sm-offset-6 col-xs-offset-6 col-md-3 col-sm-3 col-xs-3" ng-click="printF()">
            <img src="/static/images/print-icon.svg" height="64" alt=""> Confirm print
        </div>
    </div>
</div>
{% end %}