{% extends "base.html" %}
{% block content %} 
<div class="row">
    <div class="col-xs-4 col-sm-4"></div>
    <div class="col-xs-3 col-sm-3">
    <h1 style="font-family: Graphik-Semibold;">Print</h1>
    <a  href="/local-files-selection"  class="btn btn-lg btn-warning">
        <img src="/static/images/print-menu-icon-big.svg" alt="" height="100">
        <h3 style="color: black; font-family: Graphik-Semibold; text-align: center; line-height: 24px; font-size: 20px;">Print from local file</h3>
    </a>
    </div>
</div>
<div class="row">
    <a href="/home" class="btn btn-lg btn-danger">
        <img src="/static/images/46px_Back.png" alt="">
    </a>
</div>
{% end %}