
main {
    position: relative;
    background: #FFF;
    height:320px;
    overflow:hidden;
    padding: 0;
    margin: 15px;
    width: 770px;
}

ul {
    height: 285px;
    width: 770px;
    margin: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    padding: 0;
    overflow: hidden;
}

.first_attemp li {
    list-style-type: none;
    background-color: #FFB700;
    margin: 8px;
    overflow: hidden;
    border-radius: 14px;
    Flex-grow: 1;
    font-family: Graphik-Semibold;
    text-align: center;
    padding:auto;
}

.first_attemp li a {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.first_attemp li img {
    height: 65%;
}

/* one item */
.first_attemp li:first-child:nth-last-child(1) {
    width: 754px;
    height: 269px;
}

.first_attemp li:first-child:nth-last-child(2),
.first_attemp li:first-child:nth-last-child(2) ~ li {
    width: 369px;
    height: 269px;
}

/* three items */
.first_attemp li:first-child:nth-last-child(3),
.first_attemp li:first-child:nth-last-child(3) ~ li {
    width: 240px;
    height: 269px;
}

/* four items */
.first_attemp li:first-child:nth-last-child(4),
.first_attemp li:first-child:nth-last-child(4) ~ li {
    width: 369px;
    height: 126px;
}

/* five items */
.first_attemp li:first-child:nth-last-child(5),
.first_attemp li:first-child:nth-last-child(5) ~ li {
    width: 240px;
    height: 126px;

}

/* six items */
.first_attemp li:first-child:nth-last-child(6),
.first_attemp li:first-child:nth-last-child(6) ~ li {
    width: 240px;
    height: 126px;
}

h1, h2, h3, h4, h5 {
    font-family: Graphik-Semibold;
    color: #000;
}

h1 {
    display: flex;
    justify-content: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-size: 29px; 
    line-height: 35px;
}

h2 {
    font-size: 26px;
    line-height: 29px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h3 {
    font-size: 18px;
    line-height: 24px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.scroll-files {
    height: 325px;
}

.monitor-container {
    display:flex;
    justify-content:space-around;
}

.monitor-header {
    display:flex;
    flex-direction:row;
    font-family: Graphik-Semibold;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 26px;
}

.monitor-progress {
    display:flex;
    flex-direction:row;
    position: relative;
    margin-bottom: 20px;
}

.monitor-progress-bar {
    width: 400px;
    height:40px ;
    border-radius: 0;
}

.clock-small-icon {
    width: 24px;
    height: 24px;
    background: url(/static/images/icons/clock-small-icon.svg);
    background-repeat: no-repeat;
    background-position: center center;
    content: "";
    margin: auto 4px;
}

.extruder-2-small-icon {
    width: 24px;
    height: 24px;
    background: url(/static/images/icons/extruder-2-small-icon.svg);
    background-repeat: no-repeat;
    background-position: center center;
    content: "";
    margin: auto 4px;
}

.extruder-1-small-icon {
    width: 24px;
    height: 24px;
    background: url(/static/images/icons/extruder-1-small-icon.svg);
    background-repeat: no-repeat;
    background-position: center center;
    content: "";
    margin: auto 4px;
}

.bed-small-icon {
    width: 24px;
    height: 24px;
    background: url(/static/images/icons/bed-small-icon.svg);
    background-repeat: no-repeat;
    background-position: center center;
    content: "";
    margin: auto 4px;
}

.progress-numeric {
    display:flex;
    flex-direction:row;
}

.progress-numeric div {
    text-align: left;
    font-size: 22px;
    font-family: Graphik-Light;
    line-height: 30px;
}

.monitor-status {
    font-family: Graphik-Semibold;
    color: #000;
    bottom: 0;
    width: 100%;
    height: 86px;
    background: #FFB700;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 24px;
    font-size: 28px;
}

.status-preview {
    height:200px;
    margin-top: 30px;
    width: 300px;
}

.model-preview {
    width: 300px;
    height: 100%;
}

#infobold {
    font-family: Graphik-Semibold;
    font-size: 22px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#infolight {
    font-family: Graphik-Light;
    font-size: 22px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}