
main {
    position: relative;
    background: #FFF;
    height:320px;
    overflow:hidden;
    padding: 0;
    margin: 15px;
    width: 770px;
}

ul {
    height: 285px;
    width: 770px;
    margin: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    padding: 0;
    overflow: hidden;
}

li {
    list-style-type: none;
    background-color: #FFB700;
    margin: 8px;
    overflow: hidden;
    border-radius: 14px;
    Flex-grow: 1;
    font-family: Graphik-Semibold;
    text-align: center;
    padding:auto;
}

li a {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    height: 100%;
}

li a img {
    height: 65%;
}

/* one item */
li:first-child:nth-last-child(1) {
    width: 754px;
    height: 269px;
}

li:first-child:nth-last-child(2),
li:first-child:nth-last-child(2) ~ li {
    width: 369px;
    height: 269px;
}

/* three items */
li:first-child:nth-last-child(3),
li:first-child:nth-last-child(3) ~ li {
    width: 240px;
    height: 269px;
}

/* four items */
li:first-child:nth-last-child(4),
li:first-child:nth-last-child(4) ~ li {
    width: 369px;
    height: 126px;
}

/* five items */
li:first-child:nth-last-child(5),
li:first-child:nth-last-child(5) ~ li {
    width: 240px;
    height: 126px;

}

/* six items */
li:first-child:nth-last-child(6),
li:first-child:nth-last-child(6) ~ li {
    width: 240px;
    height: 126px;
}

#grid {
    height: 285px;
    width: 770px;
    margin: 0px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: stretch;
    padding: 0;
    overflow: hidden;
}

#grid li:first-child {
    width: 369px!important;
    height: 269px!important;
    Flex-grow: 2;
}

#grid li:nth-child(2), #grid li:nth-child(3) {
    width: 369px!important;
    height: 126px!important;
}

h1, h2, h3, h4, h5 {
    font-family: Graphik-Semibold;
    color: #000;
}

h1 {
    display: flex;
    justify-content: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-size: 29px; 
    line-height: 35px;
}

h2 {
    font-size: 26px;
    line-height: 29px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h3 {
    font-size: 18px;
    line-height: 24px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}