.calibration_enable {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 80px;
    border-radius: 10px;
    background: #FFB700;
    margin-bottom: 10px;
}

.calibration_disable {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 80px;
    border-radius: 10px;
    background: #D3D3D3;
    margin-bottom: 10px;
}

.btn_calibration_enable {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 200px; 
    height: 210px; 
    border-radius: 10px; 
    margin: 0 15px;
    background: #FFB700;
}

.btn_calibration_disable {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 200px; 
    height: 210px; 
    border-radius: 10px; 
    margin: 0 15px;
    background: #D3D3D3;
}

html {
    background: white !important;
}
body {
    zoom: 1 !important;
}

::-webkit-scrollbar {
    display: none;
}

* {
  -webkit-user-select: none;
}

@font-face {
    font-family: 'Graphik-Black';
    src: url('../assets/EM-Graphik/Graphik-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Graphik-Light';
    src: url('../assets/EM-Graphik/Graphik-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Graphik-Regular';
    src: url('../assets/EM-Graphik/Graphik-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Graphik-Semibold';
    src: url('../assets/EM-Graphik/Graphik-Semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'Graphik-Medium';
    src: url('../assets/EM-Graphik/Graphik-Medium.ttf') format('truetype');
}

main.ng-enter {
    /* transition on enter for .5s */
    transition: .9s;

    /* start with opacity 0 (invisible) */
    opacity: 0;
}

main.ng-enter-active {
    /* end with opacity 1 (fade in) */
    opacity: 1;
}


button.btn-default:active {
    background-color: rgb(0, 0, 0);
    -webkit-box-shadow: none;
    box-shadow: none;
}
button.btn-default:active:hover {
    background-color: #3276B1;
}
/* override Bootstrap excessive button padding */
 button.ui-keyboard-button.btn {
    padding: 1px 6px;
    font-size: 33px;
}
/* Bootswatch Darkly input is too bright */
 .ui-keyboard-input.light, .ui-keyboard-preview.light {
    color: #282828;
    background: #ddd;
}
.ui-keyboard-input.dark, .ui-keyboard-preview.dark {
    color: #ddd;
    background: #282828;
}
body {
    font-size: 10px;
    margin-top: 200px;
    width:100%;
}
#wrap {
    display: block;
    margin: 0 auto;
    width: 100%;
}

div.ui-keyboard {
  background-color: #000000;
  padding: 0;
}

div.ui-keyboard {
  opacity: 0;
  -webkit-transform: translate(0%, -20%);
  -ms-transform: translate(0%, -20%);
  -o-transform: translate(0%, -20%);
  transform: translate(0%, -20%);
  -webkit-transition: all .3s cubic-bezier(.25, .5, .5, .9) 0s;
  -o-transition: all .3s cubic-bezier(.25, .5, .5, .9) 0s;
  transition: all .3s cubic-bezier(.25, .5, .5, .9) 0s;
}

div.ui-keyboard.in {
  opacity: 1;
  border:0;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

#net-keyboard_keyboard, #keyboard_keyboard {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}

button.ui-keyboard-accept.ui-keyboard-valid-input,button.ui-keyboard-bksp{
    border-color: #c5c5c5 !important;
    background: rgb(69,69,69) !important;
    color:white !important;
    
}

.ui-keyboard-tab {
    display: none;
}

.ui-keyboard-enter {
    display: none;
}



.ui-keyboard-shift[data-pos='3,11'] {
    display: none;
}

.ui-widget-content {
    background: rgb(255, 255, 255) !important;
}

.ui-widget-content-2 {
    background: rgb(0, 0, 0) !important;
}

.ui-keyboard div {}

.ui-login {
    font-size: 2em !important;
    left: 27% !important;
    top: 7% !important;
}

#login-keyboard_keyboard .ui-keyboard-button, .ui-login .ui-keyboard-button {
    width: 100px;
    height: 75px !important;
}
button.btn-default:active {
    background-color: #FFF;
    -webkit-box-shadow: none;
    box-shadow: none;
}
button.btn-default:active:hover {
    background-color: #3276B1;
}
/* override Bootstrap excessive button padding */
 button.ui-keyboard-button.btn {
    padding: 1px 6px;
    background-color: #454545;
    color: white;
    border:0;
}
/* Bootswatch Darkly input is too bright */
 .ui-keyboard-input.light, .ui-keyboard-preview.light {
    color: #282828;
    background: #ddd;
}
.ui-keyboard-input.dark, .ui-keyboard-preview.dark {
    color: black;
    background: white;
    height: 60px;
    font-size: 30px;
}
.input-sm{
    height: 60px;
    padding: 5px 10px;
    font-size: 43px;
    line-height: 1.5;
    border-radius: 3px;
}
body {
    font-size: 100px;
    margin-top: 200px;
}
#wrap {
    display: block;
    margin: 0 auto;
    width: 200px;
}
.ui-text {
    font-size: 3em !important;
    top: 19% !important;
}

.ui-text .ui-keyboard-button {
    height: 2.18em;
    min-width: 2.18em;
}

.ui-keyboard-text img {
    /* vertical-align: inherit; */
}

.ui-keyboard-bksp {
    color: rgb(250, 250, 250) !important;
    background: #000000 !important;
    width: 122px;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    background: #000000 !important;
    color: rgb(250, 250, 250) !important;
}

button {
    background: transparent;
    border: none;
}

button:focus {
    outline: none !important;
    border: 0;
}

div:focus {
    outline: none;
    border: 0;
}

img:focus {
    outline: none;
    border: 0;
}

i:focus {
    outline: none;
    border: 0;
}

.rating .star-container .star svg {
    fill: #ad3973 !important;
    stroke: black !important;
}

hr {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border-top: 1px solid darkgrey !important;
}

.mbsc-material .mbsc-fr-w {
    background-color: #FFB700 !important;
    color: black !important;
}

.mbsc-material .mbsc-np-del {
    color: black !important;
}

.mbsc-material .mbsc-fr-btn-cont .mbsc-fr-btn {
    color: black !important;
}

.btn-kodak {
    background-color: #FFB700;
    border-color: #FFB700;
}

md-input-container {
    margin: 2px 0 !important;
}

md-input-container .md-errors-spacer {
    min-height: 0 !important;
}

.config-table td {
    padding-left: 35px;
}

.selectedButton {
    background-color: #fdb81d !important;
}

.footer-div {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 66px;
    background-color: lightgray;
}

.finished-footer-div {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
    border-top: 1px solid black;
}

.adduser-title {
    font-size: 27pt;
    font-family: Graphik-Semibold;
}

.loading-msg {
    font-size: 27pt;
    font-family: Graphik-Black;
    text-align: center;
}

.adduser-text {
    font-size: 18pt;
    font-family: Graphik-Regular;
    padding: 1%;
}

.pm-title {
    font-size: 24pt;
    font-family: Graphik-Medium;
}

.calib-title {
    padding-bottom: 5%;
    font-size: 16pt;
    font-family: Graphik-Medium;
}

.sharing-title {
    padding-bottom: 1%;
    font-size: 16pt;
    font-family: Graphik-Medium;
}

.pm-text {
    font-size: 26pt;
    font-family: Graphik-Regular;
    padding-left: 10%;
}

.nozzle-text {
    font-size: 15pt;
    font-family: Graphik-Regular;
}

.sharing-text {
    font-size: 15pt;
    font-family: Graphik-Regular;
}

.home-degree-top {
    font-size: 36pt;
    font-weight: bold;
    font-family: Graphik-Regular
}

.home-degree-bottom {
    font-size: 32pt;
    font-weight: bold;
    font-family: Graphik-Regular
}

.title-degree {
    font-family: Graphik-Medium;
    font-size: 28pt;
    margin-bottom: 30px;
    margin-left: 20px;
}

.title {
    margin-bottom: 25px;
}

.warm-title-degree {
    font-family: Graphik-Medium;
    font-size: 18pt
}

.warm-degree-top {
    font-size: 20pt;
    font-weight: bold;
    font-family: Graphik-Regular
}

.warm-degree-bottom {
    font-size: 16pt;
    font-weight: bold;
    font-family: Graphik-Regular
}

.home-degree-top-sm {
    font-size: 30pt;
    font-weight: bold;
    font-family: Graphik-Regular
}

.printing-degree-top-sm {
    font-size: 20pt;
    font-weight: bold;
    font-family: Graphik-Regular
}

.printing-degree-bottom-sm {
    font-size: 18pt;
    font-weight: bold;
    font-family: Graphik-Regular
}

.printerStatus.warmingUp {
    width: 400px;
    height: 40px;
    background: #dd0006;
    color: white;
}

.printerStatus.downloading {
    width: 400px;
    height: 40px;
    background: #206099;
    color: white;
}

.progress.kodak {
    background-color: black;
}

.progress-bar-kodak {
    background-color: #FFB700 !important;
}

.progress-striped.kodak.printing .progress-bar, .progress-striped.kodak.heating .progress-bar, .progress-striped.kodak.extruding .progress-bar, .progress-striped.kodak.retracting .progress-bar {
    background-image: -webkit-linear-gradient(-45deg,rgba(255,183,0,1) 34%,rgba(237,50,55,1) 38%,rgba(237,50,55,1) 50%,rgba(255,183,0,1) 50%,rgba(255,183,0,1) 85%,rgba(237,50,55,1) 15%,rgba(237,50,55,1));
    background-image: -o-linear-gradient(-45deg,rgba(255,183,0,1) 34%,rgba(237,50,55,1) 38%,rgba(237,50,55,1) 50%,rgba(255,183,0,1) 50%,rgba(255,183,0,1) 85%,rgba(237,50,55,1) 15%,rgba(237,50,55,1));
    background-image: linear-gradient(-45deg,rgba(255,183,0,1) 34%,rgba(237,50,55,1) 38%,rgba(237,50,55,1) 50%,rgba(255,183,0,1) 50%,rgba(255,183,0,1) 85%,rgba(237,50,55,1) 15%,rgba(237,50,55,1));
}

.progress-striped.kodak.extruded .progress-bar {
    background-image: -webkit-linear-gradient(-45deg,rgba(0,0,0,1) 34%,rgba(237,50,55,1) 38%,rgba(237,50,55,1) 50%,rgba(0,0,0,1) 50%,rgba(0,0,0,1) 85%,rgba(237,50,55,1) 15%,rgba(237,50,55,1));
    background-image: -o-linear-gradient(-45deg,rgba(0,0,0,1) 34%,rgba(237,50,55,1) 38%,rgba(237,50,55,1) 50%,rgba(0,0,0,1) 50%,rgba(0,0,0,1) 85%,rgba(237,50,55,1) 15%,rgba(237,50,55,1));
    background-image: linear-gradient(-45deg,rgba(0,0,0,1) 34%,rgba(237,50,55,1) 38%,rgba(237,50,55,1) 50%,rgba(0,0,0,1) 50%,rgba(0,0,0,1) 85%,rgba(237,50,55,1) 15%,rgba(237,50,55,1));
}

.progress-striped.kodak.paused .progress-bar {
    background-image: -webkit-linear-gradient(-45deg,rgba(237, 50, 55, 1) 34%,rgba(0,0,0,1) 38%,rgba(0,0,0,1) 50%,rgba(237, 50, 55, 1) 50%,rgba(237, 50, 55, 1) 85%,rgba(0,0,0,1) 15%,rgba(0,0,0,1));
    background-image: -o-linear-gradient(-45deg,rgba(237, 50, 55, 1) 34%,rgba(0,0,0,1) 38%,rgba(0,0,0,1) 50%,rgba(237, 50, 55, 1) 50%,rgba(237, 50, 55, 1) 85%,rgba(0,0,0,1) 15%,rgba(0,0,0,1));
    background-image: linear-gradient(-45deg,rgba(237, 50, 55, 1) 34%,rgba(0,0,0,1) 38%,rgba(0,0,0,1) 50%,rgba(237, 50, 55, 1) 50%,rgba(237, 50, 55, 1) 85%,rgba(0,0,0,1) 15%,rgba(0,0,0,1));
}

.progress-striped.kodak.printDone .progress-bar {
    background-image: -webkit-linear-gradient(-45deg,rgba(173,57,115,1) 34%,rgba(0,0,0,1) 38%,rgba(0,0,0,1) 50%,rgba(173,57,115,1) 50%,rgba(173,57,115,1) 85%,rgba(0,0,0,1) 15%,rgba(0,0,0,1));
    background-image: -o-linear-gradient(-45deg,rgba(173,57,115,1) 34%,rgba(0,0,0,1) 38%,rgba(0,0,0,1) 50%,rgba(173,57,115,1) 50%,rgba(173,57,115,1) 85%,rgba(0,0,0,1) 15%,rgba(0,0,0,1));
    background-image: linear-gradient(-45deg,rgba(173,57,115,1) 34%,rgba(0,0,0,1) 38%,rgba(0,0,0,1) 50%,rgba(173,57,115,1) 50%,rgba(173,57,115,1) 85%,rgba(0,0,0,1) 15%,rgba(0,0,0,1));
}

.home-degree-bottom-sm {
    font-size: 25pt;
    font-weight: bold;
    font-family: Graphik-Regular
}

.title-degree-sm {
    font-family: Graphik-Medium;
    font-size: 15pt
}

.danger-message {
    margin-top: 20px;
    color: rgba(237,50,55,1);
    font-family: Graphik-Regular;
    font-size: 14pt;
}

.footer-text {
    display: flex;
    align-items: center;
    justify-content: center; 
    color: black;
    font-size: 28px; 
    font-family: Graphik-Semibold;
    text-align: center;
    display: inline-block;
    background-color: #FFB700;
    height: 66px;
    line-height: 34px;
}

.finished-footer-text {
    font-size: 15pt;
    font-family: Graphik-Regular;
    border-right: 1px solid black;
    padding: 6px;
    text-align: center;
    display: inline-grid;
}

.header {
    height: 65px;
    background-color: black;
    color: white;
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
}

.logo-container img {
    height: 45px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.header .logo-container {
    background-color: #FFB700;
    height: 65px;
    clip-path: 
    polygon(
      0% 0%,     /* top left */
      5% 0%,     /* top left */
      80% 0%,    /* top right */
      100% 50%,   /* top right */
      100% 50%,  /* bottom right */
      80% 100%,  /* bottom right */
      0% 100%,   /* bottom left */
      0% 95%      /* bottom left */
    );
}

.header-user {
    font-family: Graphik-Regular;
    text-align: right;
    margin-right: 15px;
    margin-top: 15px;
}

.header-user img {
    vertical-align: top;
}

.header-title {
    float: left;
    font-family: Graphik-Black;
    margin-top: 13px;
}

.config-text {
    padding-top: 5%;
    padding-bottom: 1%;
    font-size: 24pt;
    font-family: Graphik-Light
}

.config-button {
    border: 1px solid #eee;
    font-family: Graphik-Semibold;
    font-size: 15pt !important;
    padding: 3%;
}

md-select-menu.md-default-theme md-content md-option[selected], md-select-menu md-content md-option[selected] {
    color: #FFB700;
}

.wifi-option {
    font-size: 20pt;
}

.wifi-button {
    border: 1px solid #eee;
    background-color: #FFB700;
    color: black;
    font-family: Graphik-Semibold;
    font-size: 12pt !important;
    padding: 10% !important;
}

.print-info {
    margin-bottom: 10px;
    font-family: Graphik-Light;
    font-size: 16pt;
}

.print-modal-button {
    /* border-bottom: none !important; */
    border: 1px solid #eee;
    font-size: 20pt;
    height: 50px;
    padding: 5px;
}

.printing-text {
    font-family: Graphik-Semibold;
    font-size: 20pt;
}

.rating {
    justify-content: left !important;
}

.user-button {
    font-family: Graphik-Light;
    font-size: 20pt;
    background: white;
    text-align: center;
    border: 1px #CCC solid;
    height: 50px;
    padding: 5px;
}

.logout-button {
    font-family: Graphik-Light;
    font-size: 20pt;
    background: #eeeeed;
    margin-bottom: 15px;
    margin-top: 20px;
    text-align: center;
    border: 1px black solid;
}

.pin-button {
    font-size: 20pt;
    /* background: #2ebaf5; */
    color: black;
    text-align: center;
    border: 1px solid;
    font-family: Graphik-Black;
}

.files-text {
    font-size: 20pt;
    font-family: Graphik-Light;
}

.progress {
    margin-bottom: 0px !important;
}

.update_progress_bar {
    width: 400px;
    height: 40px !important;
}

.invalid-pin {
    text-align: center;
    font-size: 17pt;
    font-family: Graphik-Black;
    height: 0px;
    color: rgba(237,50,55,1);
}

.login-intro {
    font-size: 17pt;
    font-family: Graphik-Light;
    margin-bottom: 25px;
}

.home-content {
    padding-top: 5%;
}

.manual-control-content {
    text-align: center;  
    font-family: Graphik-Light;
    font-size: 15pt;
    padding-top: 2%; 
    padding-left: 6%; 
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #eee !important;
}

.print-select {

    margin-top: 10px;
}

.print-label {
    margin-top: 10px;
}

.warming-name {
    font-family: Graphik-Light;
    font-size: 30pt
}

.warming-text {
    font-family: Graphik-Light;
    font-size: 20pt;
}

.adj-content {
    text-align: center;
    font-family: Graphik-Light;
    font-size: 15pt;
    padding-top: 4%;
}

.paused-content {
    text-align: center;
    font-family: Graphik-Light;
    font-size: 15pt;
    padding-top: 2%;
    padding-left: 6%;
}

.finished-time-title {
    font-family: Graphik-Light;
    font-size: 20pt;
    padding-left: 20px;
}

.finished-time-content {
    font-family: Graphik-Semibold;
    font-size: 20pt
}

.finished-title {
    font-family: Graphik-Semibold;
    font-size: 25pt;
    text-align:center
}

.finished-text {
    font-family: Graphik-Light;
    font-size: 15pt
}

.home-row {
    border-right: 1px solid black;
    height: 200px;
}

@media screen and (min-width:1000px) {
    .home-degree-top {
        font-size: 55pt !important;
    }
    .home-degree-bottom {
        font-size: 48pt;
    }
    .title-degree {
        font-size: 40pt
    }
    .user-button {
        font-size: 27pt !important;
        margin-bottom: 25px !important;
    }
    .logout-button {
        font-size: 27pt !important;
    }
    .pin-input {
        width: 79% !important;
        font-size: 36px !important;
    }
    .invalid-pin {
        font-size: 27pt !important;
    }
    .login-intro {
        font-size: 27pt !important;
    }
    .home-content {
        padding-top: 9%;
    }
    .files-text {
        font-size: 26pt;
    }
    .manual-control-content {
        font-size: 30pt;
    }
    
    .config-button {
        font-size: 23pt !important;
    }
    .print-info {
        margin-bottom: 50px;
        font-size: 30pt;
    }
    .warming-name {
        font-size: 40pt;
        padding: 1%;
    }
    .warming-text {
        font-size: 30pt;
    }
    .warm-title-degree {
        font-size: 30pt
    }
    .warm-degree-top {
        font-size: 35pt;
    }
    .warm-degree-bottom {
        font-size: 30pt;
    }
    /* .adj-content {
        font-size: 27pt;
    } */
    .paused-content {
        font-size: 27pt;
    }
    .finished-time-title {
        font-size: 30pt
    }
    .finished-time-content {
        font-size: 30pt
    }
    .finished-title {
        font-size: 50pt
    }
    .finished-text {
        font-size: 21pt
    }
    .home-row {
        height: 300px;
    }
}

md-switch {
    margin: 0px 0 !important;
}

@media screen and (min-width:1400px) {
    .logout-button {
        font-size: 40pt !important;
    }
    .user-button {
        font-size: 40pt !important;
        margin-bottom: 25px !important;
    }
    .home-degree-top {
        font-size: 70pt !important;
    }
    .home-degree-bottom {
        font-size: 60pt;
    }
    .title-degree {
        font-size: 56pt
    }
    .invalid-pin {
        font-size: 40pt !important;
    }
    .login-intro {
        font-size: 40pt !important;
    }
    .home-content {
        padding-top: 10%;
    }
    .files-text {
        font-size: 35pt;
    }
    .manual-control-content {
        font-size: 36pt;
    }
    
    .config-button {
        font-size: 30pt !important;
    }
    .warming-name {
        font-size: 50pt;
        padding: 1%;
    }
    .warming-text {
        font-size: 40pt;
    }
    .warm-title-degree {
        font-size: 40pt
    }
    .warm-degree-top {
        font-size: 45pt;
    }
    .warm-degree-bottom {
        font-size: 40pt;
    }
    /* .adj-content {
        font-size: 34pt;
    } */
    .paused-content {
        font-size: 37pt;
    }
    .finished-time-title {
        font-size: 40pt
    }
    .finished-time-content {
        font-size: 40pt
    }
    .finished-title {
        font-size: 60pt
    }
    .finished-text {
        font-size: 29pt
    }
    .home-row {
        height: 400px;
    }
}

.bc-keypad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    overflow: hidden;
    padding-bottom: .375em;
    text-align: center
}

@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
        transform: scale(2.5)
    }
}

@keyframes ripple {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
        transform: scale(2.5)
    }
}

.bc-keypad .angular-ripple {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: block;
    position: absolute;
    -webkit-transform: scale(0);
    transform: scale(0)
}

.bc-keypad .angular-ripple.animate {
    -webkit-animation: ripple .3s linear;
    animation: ripple .3s linear
}

.bc-keypad__key {
    position: relative;
    text-align: center;
    width: calc(100% / 3)
}

.bc-keypad__key::before {
    display: block;
    content: '';
    padding-top: 50%;
    width: 100%
}

.bc-keypad__key-button {
    background: none;
    background-color: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    font-size: 1.4rem;
    line-height: 1.5em;
    outline: 0;
    padding: 2%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    width: 100%
}

.bc-keypad__key-button:focus {
    outline: 0
}

.bc-keypad__key-button::after {
    background-color: #ccc;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 0
}

.bc-keypad__key-button svg {
    height: 44px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50px
}

.bc-keypad__key-button--icon {
    background-size: 50%;
    background-position: 45% 50%;
    background-repeat: no-repeat;
    border: 0;
    position: relative
}

.bc-keypad__key-button--backspace {
    fill: inherit
}

.bc-keypad__key-button--submit {
    fill: inherit
}

.bc-keypad [angular-ripple] {
    overflow: hidden;
    position: relative
}

.bc-keypad [angular-ripple].bc-keypad__key-button {
    position: absolute
}

.pin-input {
    width: 75%;
    margin: 0 0 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0;
    font-family: arial, verdana, sans-serif;
    font-size: 21px;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.filswap-title {
    font-size: 27pt;
    font-family: Graphik-Black;
}

.filswap-text {
    font-size: 18pt;
    font-family: Graphik-Regular;
    padding: 10%;
}

.temp-input {
    width: 79% !important;
    font-size: 36px !important;
}

.network-item {
    border: 1px solid lightgray;
    padding: 10px;
    height: 65px;
    margin-bottom: 10px;
}

.network-item h4 {
    font-family: Graphik-Semibold;
    font-size: 1.5em;
}
.network-item p {
    font-family: Graphik-Regular;
}

.password-input {

}

.modal-footer button {
    font-size: 2.3em;
    min-width: 160px;
}

.queued-job {
    border: 1px solid #CCC;
    padding: 10px;
    margin-bottom: 10px;
}

.settingsIcon{
    margin-top: -3px
}

body {counter-reset: step;}
#progressbar li {
    list-style-type: none;  
    width: 20%;
    float: left;
    position: relative;
    text-align: center;
    color: white;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 33px;
    display: block; 
    border-radius: 50%;
    margin: 0 auto 10px auto;
    text-align: center;
    background-color: #CCC;
    z-index: 99;
    position: relative;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #CCC;
    position: absolute;
    left: -50%;
    top: 13px;
    z-index: 1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none; 
}
#progressbar li.done:before {
    background-color: black;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before{
    border-color: #CCC;
}

#progressbar li.error:before{
    border-color: #CCC;
}

#progressbar li.active + li:after {
    background-color: #CCC;
}

.modal-large{width: 80%}
.callout.boxcount {
    border-color: #0097bc;
    background: #eee;
}
.disbaled-div {
    pointer-events:none;
}
#po_list tooltip:not(:first-child){
    margin-left: -8px !important;
}
#progressbar li.current:before {
   background-color: rgba(237,50,55,1);
}
/* SLIDER */
.custom-slider.rzslider .rz-bar {
    background: #ffe4d1;
    height: 2px;
  }
  .custom-slider.rzslider .rz-selection {
    background: orange;
  }
  
  .custom-slider.rzslider .rz-pointer {
    width: 8px;
    height: 16px;
    top: auto; /* to remove the default positioning */
    bottom: 0;
    background-color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  
  .custom-slider.rzslider .rz-pointer:after {
    display: none;
  }
  
  .custom-slider.rzslider .rz-bubble {
    bottom: 14px;
  }
  
  .custom-slider.rzslider .rz-limit {
    font-weight: bold;
    color: orange;
  }
  
  .custom-slider.rzslider .rz-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: #ffe4d1;
    top: -1px;
  }
  
  .custom-slider.rzslider .rz-tick.rz-selected {
    background: orange;
  }

  .enabled {
    background: #FFB700
  }

  .disabled {
    background: #CCC
  }


  .slogan {
    
    overflow: hidden;
    position: relative;
    
    -webkit-transition: background-color 350ms;
    -moz-transition: background-color 350ms;
    transition: background-color 350ms;
}

.slogan p {
    position: absolute;
    line-height: 50px;
    transform:translateX(100%);
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);
}
.slogan p:nth-child(1) {
    animation: left-one 10s ease infinite;
    -moz-animation: left-one 10s ease infinite;
    -webkit-animation: left-one 10s ease infinite;
}
.slogan p:nth-child(2) {
    animation: left-two 10s ease infinite;
    -moz-animation: left-two 10s ease infinite;
    -webkit-animation: left-two 10s ease infinite;
}
.slogan.down p {
    transform:translateY(-100%);
    -moz-transform:translateY(-100%);
    -webkit-transform:translateY(-100%);
}
.slogan.down p:nth-child(1) {
    animation: down-one 10s ease infinite;
    -moz-animation: down-one 10s ease infinite;
    -webkit-animation: down-one 10s ease infinite;
}
.slogan.down p:nth-child(2) {
    animation: down-two 10s ease infinite;
    -moz-animation: down-two 10s ease infinite;
    -webkit-animation: down-two 10s ease infinite;
}
.slogan.up p {  
    transform:translateY(100%);
    -moz-transform:translateY(100%);
    -webkit-transform:translateY(100%);
}
.slogan.up p:nth-child(1) {
    animation: up-one 10s ease infinite;
    -moz-animation: up-one 10s ease infinite;
    -webkit-animation: up-one 10s ease infinite;
}
.slogan.up p:nth-child(2) {
    animation: up-two 10s ease infinite;
    -moz-animation: up-two 10s ease infinite;
    -webkit-animation: up-two 10s ease infinite;
}


/*================================
    Move the slogan to the Left
==================================*/

/** Mozilla Firefox Keyframes **/
@-moz-keyframes left-one {
    0%  {
        -moz-transform:translateX(100%);
    }
    10% {
        -moz-transform:translateX(0);
    }
    40% {
        -moz-transform:translateX(0);
    }
    50% {
        -moz-transform:translateX(-100%);
    }
    100%{
        -moz-transform:translateX(-100%);
    }
}
@-moz-keyframes left-two {
    0% {
        -moz-transform:translateX(100%);
    }
    50% {
        -moz-transform:translateX(100%);
    }
    60% {
        -moz-transform:translateX(0);       
    }
    90% {
        -moz-transform:translateX(0);       
    }
    100%{
        -moz-transform:translateX(-100%);
    }
}
/** Webkit Keyframes **/
@-webkit-keyframes left-one {
    0% {
        -webkit-transform:translateX(100%);
    }
    10% {
        -webkit-transform:translateX(0);
    }
    40% {
        -webkit-transform:translateX(0);
    }
    50% {
        -webkit-transform:translateX(-100%);
    }
    100%{
        -webkit-transform:translateX(-100%);
    }
}
@-webkit-keyframes left-two {
    0% {
        -webkit-transform:translateX(100%);
    }
    50% {
        -webkit-transform:translateX(100%);
    }
    60% {
        -webkit-transform:translateX(0);        
    }
    90% {
        -webkit-transform:translateX(0);        
    }
    100%{
        -webkit-transform:translateX(-100%);
    }
}

/*================================
    Move the slogan Downwards
==================================*/

/** Mozilla Firefox Keyframes **/
@-moz-keyframes down-one {
    0%  {
        -moz-transform:translateY(-100%);
    }
    10% {
        -moz-transform:translateY(0);
    }
    40% {
        -moz-transform:translateY(0);
    }
    50% {
        -moz-transform:translateY(100%);
    }
    100%{
        -moz-transform:translateY(100%);
    }
}
@-moz-keyframes down-two {
    0% {
        -moz-transform:translateY(-100%);
    }
    50% {
        -moz-transform:translateY(-100%);
    }
    60% {
        -moz-transform:translateY(0);       
    }
    90% {
        -moz-transform:translateY(0);       
    }
    100%{
        -moz-transform:translateY(100%);
    }
}

/** Webkit Keyframes **/
@-webkit-keyframes down-one {
    0% {
        -webkit-transform:translateY(-100%);
    }
    10% {
        -webkit-transform:translateY(0);
    }
    40% {
        -webkit-transform:translateY(0);
    }
    50% {
        -webkit-transform:translateY(100%);
    }
    100%{
        -webkit-transform:translateY(100%);
    }
}
@-webkit-keyframes down-two {
    0% {
        -webkit-transform:translateY(-100%);
    }
    50% {
        -webkit-transform:translateY(-100%);
    }
    60% {
        -webkit-transform:translateY(0);        
    }
    90% {
        -webkit-transform:translateY(0);        
    }
    100%{
        -webkit-transform:translateY(100%);
    }
}

/*================================
    Move the slogan Upwards
==================================*/

/** Mozilla Firefox Keyframes **/
@-moz-keyframes up-one {
    0%  {
        -moz-transform:translateY(100%);
    }
    10% {
        -moz-transform:translateY(0);
    }
    40% {
        -moz-transform:translateY(0);
    }
    50% {
        -moz-transform:translateY(-100%);
    }
    100%{
        -moz-transform:translateY(-100%);
    }
}
@-moz-keyframes up-two {
    0% {
        -moz-transform:translateY(100%);
    }
    50% {
        -moz-transform:translateY(100%);
    }
    60% {
        -moz-transform:translateY(0);       
    }
    90% {
        -moz-transform:translateY(0);       
    }
    100%{
        -moz-transform:translateY(-100%);
    }
}

/** Webkit Keyframes **/
@-webkit-keyframes up-one {
    0% {
        -webkit-transform:translateY(100%);
    }
    10% {
        -webkit-transform:translateY(0);
    }
    40% {
        -webkit-transform:translateY(0);
    }
    50% {
        -webkit-transform:translateY(-100%);
    }
    100%{
        -webkit-transform:translateY(-100%);
    }
}
@-webkit-keyframes up-two {
    0% {
        -webkit-transform:translateY(100%);
    }
    50% {
        -webkit-transform:translateY(100%);
    }
    60% {
        -webkit-transform:translateY(0);        
    }
    90% {
        -webkit-transform:translateY(0);        
    }
    100%{
        -webkit-transform:translateY(-100%);
    }
}